[2017-05-17 15:39] paulito415 commented on #266
After stepping into the `SearchView` code it wasn't apparent to me that setNavigationIcon was the method I needed. It seems that in `addFocus` / `removeFocus` there is a call to `mSearchArrow.animate()` from one state to another (hamburger to arrow). But I couldn't find the place where we set the icons that corresponding to each of the states. I know that `mSearchArrow` is the `Drawable` that is s

[2017-05-17 17:58] lapism commented on #266
Hi, I am working already on new version with a lot of changes. But that thing what you were asking for is not possible with jCenter or repository code. Only thing I can do is to add state parameter to navigationIcon listener in new version ...

[2017-05-17 18:05] paulito415 commented on #266
Thanks for the update! I'm not sure what you mean by jcenter or repository code. I'll just assume you mean with the latest version of your code what I'm asking for is not possible.

But I was thinking. Maybe i can extend SearchArrowDrawable and instead of drawing with Paint, maybe I can overlay / render an image or something. Then I can just subclass your SearchView to use my own Drawable. Does th

[2017-05-17 19:09] lapism commented on #266
I am not really sure right now with actual version of the library. But I will add icon state listener to next version.

[2017-05-18 10:27] #266 closed

[2017-05-18 14:59] Heromine commented on #242
same error here...

[2017-05-20 06:51] debjitk opened #267 "How to put SearchView within AppBarLayout"
I looked at the ToolbarAcitivity code as a reference but upon implementing the same this is what I get [https://www.dropbox.com/s/m1flcxzsn20orhz/SearchView_Screenshot_01.png?dl=0]

Any suggestions on what I am doing wrong ?

Also with this issue ... there would be fragments where i need to hide or remove the search view and need to display items on toolbar. How to achieve the same ?

[2017-05-20 14:03] HusseinElFeky commented on #267
Can you post your layout?

[2017-05-20 16:52] AnderGoig opened #268 "Toolbar shadow disappears"
I'm not sure why, but the shadow of the Toolbar widget doesn't show when using this widget.

[2017-05-21 06:27] debjitk commented on #267
Here it is ...

<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/view"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystem

[2017-05-21 07:06] lapism commented on #268
It is because AppBar parent is set with elevation 0dp in CoordinatorLayoutBehavior from SearchView....I have not found the solution yet.

[2017-05-21 14:15] Gericop commented on #267
Kinda like the same problem here but with a `CollapsingToolbarLayout`. There are two problems:
- the floating layout only displays correctly if the `CollapsingToolbarLayout` hasn't collapsed yet; if it collapsed the SearchView will try to position its top where it originally should be (so it gets cut off basically)
- under certain conditions the whole `CoordinatorLayout` gets scrolled in the backg

[2017-05-21 18:18] lapism commented on #267
Interesting. I am working on new version so I will try to fix what @Gericop wrote.

[2017-05-22 10:35] debjitk commented on #267
Any updates on what is happening wrong with my layout ?

[2017-05-23 11:21] debjitk opened #269 "How to attach a menu with the SearchView ?"
How can I associate a menu with the search view ? Also how can I have a search view without a hamburger menu. I does not mean changing the icon, I mean how can I have a search view with a drawer layout ?

[2017-05-24 07:23] frozenex commented on #267
Having the same problem as @debjitk. Any solutions?

[2017-05-24 11:31] Gericop commented on #228
This happens if the `SearchView` is not in an `AppBarLayout`. Just tested it on a 5.0 device that had the same crash because the SearchView was a direct child of a `CoordinatorLayout`. Moved it to `AppBarLayout` and now it doesn't crash. However, the layout itself is not working properly, so something is definitely not good. The problem is that if the `SearchView` is inside the AppBarLayout, it wi

[2017-05-25 17:58] lapism commented on #228
So I will remove default coordinator.behavior with appbar layout from next release...it is almost finished.

[2017-05-29 02:25] JackLauu opened #270 "suggestion"
I suggest that the business logic of saving history to database should be included in SearchAdapter itself. I find it in SearchActivity, not very smart. And we can add a attr parameter for saving history or not. Sometimes, SearchView is used for filter listview but not in network, the keyword is refreshed very frequently, and not needed to save.

We can include a 'clear history' button under the r

[2017-05-29 04:04] boswelja commented on #270
Hmmm, definitely an interesting idea, although, instead of having a clear history button with the recyclerview, what if we have a way app devs can implement a clear all button into their app settings?
As for filters, yes, it does only change the checkbox state, you need to check for changes with them (which returns a Boolean[] object)

[2017-05-29 07:45] AlekseiBazhenov commented on #268
@lapism The shadow doesn't show because it's hidden in SearchBehavior.
if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP) {
    mAppBarLayout.setElevation(0); // TODO NO SHADOWS APPBAR
}
I've commented out these strings and the shadow works perfect for MenuItemActivity. But toolbar disappears on ToolbarActivity and FiltersActivity.

[2017-05-29 09:08] JackLauu commented on #270
Yes, that's right.

[2017-05-29 09:14] lapism commented on #268
I know why it is happening but I haven't found the way how to fix it.

[2017-05-31 16:12] Chucky109 commented on #253
Hi lapism,

I just faced the same problem. It happens when google voice search isn't installed or deactivated on the device. The mic icon is not shown at first but if you type in some text and delete it (backspace) then it appears and you can click on it => Crash.

Hope this might help you to fix it. If you already fixed then just ignore me :D Thanks for your lib!

[2017-05-31 16:38] iballan commented on #242
I am still getting the same error. i tried all Stackoverflow solutions. is there any news about the issue ? @lapism

[2017-05-31 16:41] lapism commented on #242
I am working on version 5.0 so I will see if it is gonna happen again.

[2017-06-05 13:48] #268 closed

[2017-06-05 13:50] lapism commented on #269
check the sample app.

[2017-06-05 13:50] #269 closed

[2017-06-05 13:52] lapism opened #272 "add menu items"

[2017-06-06 18:19] #228 closed

[2017-06-07 15:21] coder3101 opened #273 "Wrong positioned searchview."
I am implementing this as a searchview in my app and after setting up things I find that, the searchview does opens when I click options menu (a search icon) but it is wrong positioned about 20-30 dp below as expected. I tried everything but couldn't figure out, though in the sample app I find menu item searchview placed correctly.

It is not a bug report but I would like to know if I am missing s

[2017-06-07 15:25] coder3101 commented on #273
https://drive.google.com/file/d/0BzPFlYPNGMANTkY0QVFnSXpCbWM/view?usp=drivesdk

See the searchview is about 20-30dp below ideal position.

[2017-06-07 16:04] lapism commented on #273
Hi, I think you should check margins in your layout. It looks like this kind of issue...and take a look on sample layout xml.

[2017-06-07 17:21] coder3101 commented on #273
I did had the padding for AppbarLayout after removing it , the things have gone even worst.
Now the Searchview does not even overlap the toolbar but is mispositioned I have already check the sample and I am following the same.

[2017-06-07 17:23] coder3101 commented on #273
https://drive.google.com/file/d/0BzPFlYPNGMANcmJqQTl4SEN5akE/view?usp=drivesdk

Here is the screenshot..

[2017-06-07 17:30] coder3101 commented on #273
[code]

[2017-06-07 18:00] coder3101 commented on #273
__Setting this attribute for searchview solves my issue__

[code]

_But this is not the correct method, I also saw many other issues related to it_
Hope it gets fixed soon...

[2017-06-07 18:00] #273 closed

[2017-06-07 19:00] coder3101 opened #274 "Suggestion"
I just noticed that the transparent background of the image views (like arrow/mic) in the search_view.xml are visible to user when clicked. That looks weird.

Even though background attribute is set to

``` android:background="?attr/selectableItemBackground" ```

The transparent part of the image shows up when it is clicked.
A better alternative would be to replace the background attribute with th

[2017-06-07 20:01] lapism commented on #274
Sure, I will add it.

[2017-06-10 18:51] lapism commented on #242
I think you should wait untill 5.0 will be released ;)

[2017-06-11 07:38] coder3101 commented on #242
When is the 5.0 scheduled to be released? I mean an approximation!!!

[2017-06-11 07:44] boswelja commented on #242
@coder3101 when @lapism feels it is ready.. Until then, you'll have to try find another solution

[2017-06-11 20:46] lapism commented on #242
exactly... you know , work and family ....

[2017-06-12 08:50] Heromine opened #275 "NullPointer"
I get this error:
 http://imgur.com/a/S3UAp
Also known as:
`06-12 10:44:17.827 W/System.err(8474): java.lang.NullPointerException: Attempt to invoke virtual method 'android.database.sqlite.SQLiteDatabase android.content.Context.openOrCreateDatabase(java.lang.String, int, android.database.sqlite.SQLiteDatabase$CursorFactory, android.database.DatabaseErrorHandler)' on a null object reference  06-12

[2017-06-12 08:53] iballan commented on #242
@coder3101 @Heromine @macci10 @apMadden

Since the problem mostly because of the RecyclerView layout transition animation. I set it to null all the time.

I have this temporary solution working for me.

[code]

I took **[ALinearLayoutManager](https://github.com/iballan/hfradapter/blob/master/hfradapter/src/main/java/com/mbh/hfradapter/ALinearLayoutManager.java)** from this Library **[HFRAdapter](h

[2017-06-15 06:48] PhilippeBoisney commented on #242
@iballan I've tested your solution but it unfortunately doesn't work on my Samsung : The behavior of Searchview gets strange... However, I've modified your solution to fit this [stackoverflow response](https://stackoverflow.com/questions/26477660/recyclerview-crashes-when-scrapped-or-attached-views-may-not-be-recycled ) :

[code]
Then in XML:

[code]

I'll deploy this fix in production and see if

[2017-06-15 15:21] gbirk commented on #242
@PhilippeBoisney your custom class seems to be working for me. Thanks. I'll keep testing.

[2017-06-16 14:04] lapism commented on #275
Hi, I hope in next two weeks I will release new version. So please wait until this time.

[2017-06-18 14:52] gautam2682 opened #277 "SearchView width margins not showing after 2 nd time opening the app"
SearchView width margins are perfect when first time installing the app but restrating it shows no width default margin like the picture below . I have use the same layout and java files please help me out of this weird problem.
![screenshot_1497797092](https://user-images.githubusercontent.com/16800520/27261580-9cb24688-5463-11e7-9cd8-d97d7931f8e0.png)

Solved this problem by removing this line o

[2017-06-18 15:56] lapism commented on #277
Set your own margins in xml ;)

[2017-06-18 16:12] gautam2682 commented on #277
Its not just about the margins but back button arrow also blocks after reopening the application .In my other app the same code is working fine , i think any update has broken it. ;)

here is xml file copied from your previous sample code:-
`<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http:

[2017-06-18 17:43] #277 closed

[2017-06-20 05:08] AllanWang opened #279 "Search animator visibility changes"
This isn't urgent, but for some of your exit animations, I feel like you're missing some listeners. For example in [fade out](https://github.com/lapism/SearchView/blob/master/searchview/src/main/java/com/lapism/searchview/SearchAnimator.java#L28), the view should be set to gone after the animation, otherwise it will be hidden during the fade and you wouldn't see it.

I've attached some of [my](htt

[2017-06-20 05:10] AllanWang commented on #270
The issue with databases is that they need to be consistent, so if you plan on using one with your own attributes, you'll likely need to write the database portions yourself. It's hard to make them generic, which is why lapism might have picked this route.

As for frequent key switches, consider using observables and debouncing your responses.

[2017-06-20 05:11] AllanWang commented on #251
I've tried this a while back and it didn't work too well. It's too much work trying to create parcelables for generic items.

[2017-06-20 05:11] #251 closed

[2017-06-20 05:45] boswelja commented on #251
Doesn't Android Studio auto-create parcelable objects though?

[2017-06-20 06:12] AllanWang commented on #251
There are annotations that do, but apart from that, I can no longer integrate it with the database since it is set to only save a key and a value. If all that because customizable we're essentially rewriting those components ourselves. I'm still thinking of other ways to go about that since the data can usually be retrieved by a single key, be it an id or a url for the item.

[2017-06-20 06:38] lapism commented on #279
Thanks I am going to check it.

[2017-06-21 18:10] ganny26 opened #280 "Can you upload sample project folder"
Hi,

Could you please upload sample project which is listed on play store

[2017-06-21 20:08] lapism commented on #280
No, in next version will be better README. Project from Play Store will be deleted.

[2017-06-22 06:49] #272 closed

[2017-06-23 06:54] PhilippeBoisney commented on #242
It's been two weeks now and the bug not appears anymore ;) So @lapism you can add this fix on your next release !

[2017-06-23 06:56] AllanWang commented on #242
@PhilippeBoisney do you still have animations though when items are added? The search view should expand naturally rather than blink.

[2017-06-23 07:01] PhilippeBoisney commented on #242
@AllanWang Unfortunately you're right, with this "quick fix", expand animation is disable.. =/ But app doesn't crash anymore so...

[2017-06-23 07:06] lapism commented on #242
Transition is already removed from codebase. But I am waiting for more time to finish release 5.0.

[2017-06-23 07:07] AllanWang commented on #242
@lapism are you deciding to remove the transitions altogether? I was going to recommend delegating the adapter logic to a library such as FastAdapter so you can have more control over the items (click events, long press, filtering, etc) as well as the animations.

[2017-06-23 08:31] coder3101 commented on #242
The Suggestion are no longer appearing with a transition but the bug / crash is fixed..

[2017-06-25 02:08] AllanWang commented on #242
@lapism I took the liberty today to [rewrite the SearchView in Kotlin](https://github.com/AllanWang/KAU/blob/master/library/src/main/kotlin/ca/allanwang/kau/searchview/SearchView.kt). I'm not sure why there would be an animation bug in yours but you're welcome to pick out whatever you need from this build. I will also look into writing the layouts using constraints since that was something you wer

[2017-06-25 18:49] #279 closed

[2017-06-25 19:02] #274 closed

[2017-06-27 01:26] EmmanuelMess commented on #267
I'm sorry if this is not useful, but to put the SearchView in front of the Toolbar:
[code]

[2017-06-27 01:32] EmmanuelMess opened #282 "How to replace the menu button by the back button?"
Is there some way to replace the menu button by the back button after the search has been done?
![screenshot_1498527011](https://user-images.githubusercontent.com/10991116/27566988-3ff8534e-5abf-11e7-9ba4-61a90a37f2cb.png)

[2017-06-27 06:20] lapism commented on #282
for now setArrowOnly(), but this behavior will be changed.

[2017-06-27 17:38] EmmanuelMess commented on #282
If I may bother you once more, when I click on the 'back' arrow when it is replacing the hamburguer button, it doesn't do anything, further debugging suggests that [`mIsSearchArrowHamburgerState == SearchArrowDrawable.STATE_ARROW`](https://github.com/lapism/SearchView/blob/master/src/main/java/com/lapism/searchview/SearchView.java#L620) is false. Is there something I'm missing or is this a bug? (I

[2017-06-27 17:56] lapism commented on #282
Maybe. I will take a look on it ASAP.

[2017-07-04 06:43] caka2604 commented on #242
My solution:
mAdapter.setHasStableIds(true);

Override getItemId my adapter:
@Override
public long getItemId(int position) {
        return position;
}

[2017-07-06 02:27] hunao0221 opened #283 "How to change the SearchItem Icon"
[code]
or
[code]
do not work，Always the default icon.

[2017-07-07 01:24] EmmanuelMess opened #284 "onClose() called when the view is created"
onClose() is being called when the view is created, this also happens when the activity is recreated after a state change, mainly a screen rotation, but the view isn't closed. The code can (temporarily) be found [here](https://github.com/EmmanuelMess/AmazeFileManager/commits/feature-typeablepaths), to replicate set a breakpoint on [onClose()](https://github.com/EmmanuelMess/AmazeFileManager/blob/f

[2017-07-07 16:24] EmmanuelMess opened #285 "Keyboard reopens after rotation"
To replicate set `setShouldHideOnKeyboardClose(false)` then write something, hide the keyboard and rotate the device, the keyboard reopens. One solution could be to set the EditText as `android:windowSoftInputMode="stateUnchanged"`.

[2017-07-09 20:33] Gericop commented on #267
Is this going to be in 5.0? Also, when is it coming out?

[2017-07-09 21:53] boswelja commented on #267
@Gericop It will come out when @lapism feels it is ready.

[2017-07-09 22:06] Gericop commented on #267
@boswelja I'm asking because the README file's been saying "It will be changed to working version 5.0 in few days !!!" for the last 23 days and "few" IMO is less than 23. I'm not hurrying him or anything like that, I'm simply just asking whether it will be fixed and released soon because I'd like to use this cool lib in an app but currently this specific bug stops me from enabling a crucial part o

[2017-07-09 22:39] boswelja commented on #267
@Gericop and I'm saying there is no planned release date. I would expect most bugs to be fixed in version 5.0

[2017-07-10 05:44] lapism commented on #267
Guys I hope I will release it next week ;).

[2017-07-10 05:45] lapism commented on #267
I need to add few things and clean the code.

[2017-07-11 16:45] Dahnark commented on #255
CUSTOM_DATA=
APP_VERSION_NAME=1.0.8
BRAND=lge
USER_COMMENT=null
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{com.videumcorp.leagueoflegendschampionmasteryandchestlookup/com.videumcorp.leagueoflegendschampionmasteryandchestlookup.MainActivity}: java.lang.NullPointerException
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:1960)
at android.ap

[2017-07-11 20:54] lapism commented on #255
I take a look on it. I hope so...

[2017-07-17 17:30] DesarrolladorAndroid opened #286 "Bad margin color/translucent"
Hello,

With Nexus One API 15 emulator I am getting this issue (black/translucent space between checkbox):

<img src="https://i.imgur.com/zplx6pl.png" alt="Mountain View" style="width:304px;">

Should be (like the other emulators)

<img src="https://i.imgur.com/aadolcG.png" alt="Mountain View" style="width:304px;">

[2017-07-17 21:01] lapism commented on #286
SET MARGIN !

[2017-07-17 22:50] DesarrolladorAndroid commented on #286
How? The problem is that the searchview has all white in all android version except in api 15, there has this translucent or black space. I didn't set any margin there.

[2017-07-18 06:43] lapism commented on #286
Oh, sorry, I did not see that black line...so I will fix it asap in next version which will be probably after this weekend.

[2017-07-19 09:20] CMathgician commented on #262
I'm using
compile 'com.lapism:searchview:4.0'
I didn't get your updated code. For example search_theme 'play store'

Can u update to 4.1 before 5.0 release?

[2017-07-19 09:24] lapism commented on #262
Probably after this weekend I will release source fixed source code and new version on jCenter...so stay tuned :)

[2017-07-19 09:29] CMathgician commented on #262
Ok. Can I help you?

[2017-07-19 09:32] lapism commented on #262
With what? Probably no. Maybe first I will release some 5.0.0-alpha1 version ...

[2017-07-19 09:34] CMathgician commented on #262
To implement & test the new version.

[2017-07-19 11:17] lapism commented on #262
Maybe after release of 5.0.0-alpha1 :)

[2017-07-19 11:17] lapism commented on #262
Maybe after release of 5.0.0-alpha1 :)

[2017-07-19 11:18] CMathgician commented on #262
Ok no problem. I hope it will be release as soon as possible

[2017-07-19 17:17] lapism commented on #262
me too :D

[2017-07-19 22:44] jordaneckhardt opened #287 "How do I use the search view as a menu item?"
I'm trying to use the search view in `SearchView.VERSION_MENU_ITEM` mode. I have a menu resource file with the search view as a menu item. I've set the menu item's `app:actionViewClass` to `com.lapism.searchview.SearchView`, but when I try to access the menu item's action view from my activity in `onCreateOptionsMenu()`, it's always null. In other words, `menu.findItem(R.id.menu_resource_file_name

[2017-07-21 05:06] YESALAM commented on #287
Put the SearchView as the child of your activity main viewgroup and bind it in activity code .
Initialize the SearchView with following parameters.
`          mSearchView.setVersion(SearchView.VERSION_MENU_ITEM);
            mSearchView.setVersionMargins(SearchView.VERSION_MARGINS_MENU_ITEM);
            mSearchView.setTheme(SearchView.THEME_LIGHT, true);`

You dont need to use the `app:actionView

[2017-07-21 19:28] lapism commented on #287
I hope there will be a new version 5.0.0-alpha1 after this weekend.

[2017-07-21 19:28] #287 closed

[2017-07-21 19:30] lapism commented on #255
I hope there will be a new version 5.0.0-alpha1 after this weekend.

[2017-07-21 20:15] jordaneckhardt commented on #287
Okay, I'll try that.

Okay, that would be great!

Thanks a lot for the help!

[2017-07-21 21:48] lapism commented on #286
I hope there will be a new version 5.0.0-alpha1 after this weekend.

[2017-07-21 21:48] lapism commented on #285
I will try ...

[2017-07-21 21:49] lapism commented on #283
I will try ...

[2017-07-21 21:50] lapism commented on #262
I hope there will be a new version 5.0.0-alpha1 after this weekend.

[2017-07-22 03:47] CMathgician commented on #262
Ready for release?

[2017-07-22 06:01] lapism commented on #262
I hope so...it still needs some work, but I am working on it now.

[2017-07-30 13:30] xiaobailong24 commented on #33
@lapism The same error with me. So, where is  the sample project? Thank you!

[2017-07-31 06:10] xiaobailong24 commented on #280
@lapism Is NEW README coming soon?

[2017-08-01 19:25] lapism commented on #280
Yes, i am working on a new version... I hope it will be out in next week.

[2017-08-02 09:44] shahimclt commented on #262
@lapism  awesome library by the way. I too am patiently waiting for the release.

[2017-08-02 10:06] shahimclt commented on #267
Yup same issue here. When I try to scoll up while the search is open, the search bar scrolls up with it. and when I try to open the search bar when collapsed, nothing appears : I guess it is appearing somewhere outside the screen.

![screenshot_1501667938](https://user-images.githubusercontent.com/8318002/28868801-303f7fa4-7798-11e7-95b0-1b6db984d2ae.png)

Here is my layout :

    <android.support

[2017-08-02 10:11] lapism commented on #262
me too...next week maybe because I am almost done ... so 5.0.0-alpha1 will be released

[2017-08-02 10:16] lapism commented on #33
Sample will not be anymore because it needs maintanence and I do have time for it. I am working on better README.

[2017-08-03 06:28] boswelja commented on #33
@lapism I can update the sample app from time to time, once you've pushed 5.0 of course

[2017-08-04 17:50] lapism commented on #33
I do not have the sample app anymore :)

[2017-08-05 02:40] Dahnark opened #288 "Implementation is not working"
I downloaded Android Studio 3.0 Canary 9 and updated the Gradle Plugin to 3.0.0-alpha9 and I can't implement the new version 5.0.0-alpha.

![image](https://user-images.githubusercontent.com/7463564/28992284-2181009e-7998-11e7-90cc-d087d8c834d0.png)

I tried implementation and compile.

[2017-08-05 02:47] lapism commented on #288
I found out that has not been uploaded. I will fix it in next two days with a few bugs.

[2017-08-05 16:36] AngleV opened #289 "setSelection method"
is it possible to add a mSearchView.setSelection method ????

[2017-08-05 19:58] boswelja commented on #289
And what would that method do?

[2017-08-06 11:21] AngleV commented on #289
https://developer.android.com/reference/android/text/Selection.html#setSelection(android.text.Spannable, int, int)

[2017-08-06 12:49] Dahnark opened #290 "Crash"
One user send me this crash report. It is different of the last one.

USER_COMMENT=
ANDROID_VERSION=4.4.2
APP_VERSION_NAME=2.1.0
BRAND=Neuimage
PHONE_MODEL=NIT-805Q
CUSTOM_DATA=
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{com.company.MyApp/com.company.MyApp.MainActivity}: java.lang.NullPointerException
at android.app.ActivityThread.performLaunchActivity(ActivityT

[2017-08-06 19:47] boswelja commented on #289
I see.. and how would that be useful? Why can't the user just select text on their own

[2017-08-07 04:54] boswelja commented on #290
Library version? Is it reproducible?

[2017-08-07 11:14] lapism commented on #290
Yes. I need library version ... btw. I need to upload alpha version of 5.0.0 so maybe error will not be there anymore.

[2017-08-07 16:48] Dahnark commented on #290
@boswelja @lapism how can I check library version? I dont know how to reproduce, I ask to my users but they never reply me xD. The app never crashes for me so I don't know if it is a specific error on some Android version, phone brand, etc.

My dependencies:

![image](https://user-images.githubusercontent.com/7463564/29036636-87af67de-7ba0-11e7-91b8-02cda7a97405.png)

[2017-08-07 19:25] boswelja commented on #290
@Dahnark you added the library, you should know which version it is. It's the numbers at the end of your compile / implementation line in your apps build.gradle

[2017-08-07 21:57] Dahnark commented on #290
@boswelja there you have all my dependencies. If you talk about support library, I have the lastest stable 26+

[2017-08-08 01:14] boswelja commented on #290
@Dahnark I was talking about the searchview library, which is 4.0. Hopefully the issue will be fixed when @lapism uploads 5.0.0-alpha1 properly

[2017-08-08 04:35] CMathgician commented on #288
Hi @lapism, Is it solved?

[2017-08-08 04:53] boswelja commented on #288
@CMathgician Try it and find out :P

[2017-08-08 05:16] lapism commented on #288
Hi, I had to remove Bintray plugin because I had problems with uploading. I will fix it today or tomorrow.

[2017-08-08 13:11] Dahnark commented on #290
I am going to update my app to Play Store with some translation files, this 5.0 is going to be stable? to wait to add it to my app when it isn't  in alpha.

[2017-08-08 19:25] boswelja commented on #290
@Dahnark it will be stable eventually, but the next few releases will probably be alpha or beta

[2017-08-08 20:31] lapism commented on #290
5.0.0-alpha1 is out. And CHANGELOG will be ASAP. Btw. check the README.

[2017-08-08 20:33] lapism commented on #288
It is out already.

[2017-08-08 20:35] Dahnark commented on #290
@lapism implementation still doesn't work for me, it takes some time to appear for us?

[2017-08-08 20:37] lapism commented on #290
Probably. https://bintray.com/lapism/maven/searchview/5.0.0-alpha1

[2017-08-08 20:39] Dahnark commented on #288
This is not working:

implementation 'com.lapism:searchview:5.0.0-alpha1'

This is working:

implementation 'com.lapism.searchview:searchview:5.0.0-alpha1'

I got it from bintray:

https://i.imgur.com/xTIo9jT.png

[2017-08-08 20:42] Dahnark commented on #288
Flexbox is giving me errors:

`Error:(102) attribute 'com.mycompany.myapp:flexWrap' not found`

And a few more errors:

`Error:(1669, 71) error: cannot find symbol class OnItemClickListener`

`Error:(249, 41) error: cannot find symbol variable VERSION_MENU_ITEM
Error:(250, 48) error: cannot find symbol variable VERSION_MARGINS_MENU_ITEM
Error:(251, 39) error: cannot find symbol variable THEME_LIGH

[2017-08-08 20:42] lapism commented on #288
I will fix it.

[2017-08-08 20:43] lapism commented on #288
It has been heavily changed...please check the source code and I will add README soon.

[2017-08-08 20:45] lapism commented on #288
setOnSearchItemClickListener and SearhView.Version.MENU_ITEM ...

[2017-08-08 20:47] Dahnark commented on #288
But the flexwrap attribute?

[2017-08-08 20:51] lapism commented on #288
probably u need use last version of flexbox 0.3.0

[2017-08-08 20:51] Dahnark commented on #288
I haven't it installed, I should implement it?

[2017-08-08 20:53] lapism commented on #288
No. If you are using FlexBox from google then you should use last version because my library uses this:
compile 'com.google.android:flexbox:0.3.0'

[2017-08-08 20:53] Dahnark commented on #288
This text view ID what should be?

![image](https://user-images.githubusercontent.com/7463564/29094098-5eb28022-7c8c-11e7-8fe6-a83ea50f495d.png)

[2017-08-08 20:55] lapism commented on #288
textView

[2017-08-08 20:56] lapism commented on #288
I am sorry for these errors but I was working on it very long so it changed a lot.

[2017-08-08 20:59] Dahnark commented on #288
Well, I can compile it, just changed 3 things (method, version, theme and versionmargin), but my app crashes.

Caused by: android.view.InflateException: Binary XML file line #11: Binary XML file line #467: Error inflating class com.lapism.searchview.SearchView

Caused by: android.view.InflateException: Binary XML file line #467: Error inflating class com.lapism.searchview.SearchView

Caused by: ja

[2017-08-08 21:06] lapism commented on #288
interesting. I will try it.

[2017-08-09 19:44] Dahnark commented on #288
Some new about this?

[2017-08-09 20:39] lapism commented on #288
yes. 5.0.0-alpha2 is out. I am working on it.

[2017-08-09 20:52] lapism commented on #288
It has been done with Java8  so use this in your app gradle file
compileOptions {
    android.compileOptions.sourceCompatibility 1.8
    android.compileOptions.targetCompatibility 1.8
}

[2017-08-09 20:55] lapism commented on #288
Ok, it seems like the FlexBox is source of problems...

[2017-08-09 20:58] Dahnark commented on #288
@lapism I should try or wait? I was opening Android Studio hahah

[2017-08-09 21:00] lapism commented on #288
You should wait...I did not know that new Gradle, Java8 and FlexBox will have a problem when they are together. But do not worry I am working on it.

[2017-08-09 21:36] Dahnark commented on #288
FlexBox what is doing in the SearchView? I checked that it is a flex way to show views with different sizes, but I don't know where is applied in searchview

[2017-08-10 06:12] lapism commented on #288
CheckBoxes for filtering.

[2017-08-10 07:52] iosdv opened #291 "Why you ruined the project?"
What are you doing buddy? You should do these things in different branch? Now this project is unusable.

[2017-08-10 08:31] lapism commented on #291
I did. It works so I pushed it to master. But now it is not working ... do not worry I will fix it asap.

[2017-08-10 08:32] lapism commented on #291
But you can still use 4.0 ...

[2017-08-10 08:32] #291 closed

[2017-08-10 12:48] Dahnark commented on #288
@lapism ah, should be great that those check boxes can have on click listener, so when the user click them automatically it filters, without the necessary of the user insert text and touch search button

[2017-08-10 13:18] lapism commented on #288
good idea. But right now I need to fix those bugs with FlexBox layout. Today I am going to work on it.

[2017-08-11 12:31] sosite opened #292 "[request] Abbility to leave visible clear icon when unfocused"
In your lib when you do `removeFocus()` then you always hide clear icon:
[code]
It'll be nice to have a possibility to leave clear icon there 😉

[2017-08-11 23:13] Dahnark commented on #288
[code]

I can't sync gradle with this part.

[2017-08-12 00:17] Dahnark commented on #288
Well after 23132312837213 Clean Project and 233123123 Rebuild Project, Android Studio has decided to work!

I am going to test it, the app is working and the SearchView doesn't crash when I use it.

[2017-08-12 01:13] Dahnark opened #293 "Suggestion list doesn't show elements before first search."
In 5.0.0-alpha3 my suggestion list is empty, then when I search some name, the next time the suggestion list show all items.

How can I change the list to show only items that start with the inserted text and not that containt the text.

Is it possible to change the fade effect of the suggestion list items?

[2017-08-12 15:43] lapism commented on #288
I am happy to hear that ... I would like to fix everything before stable release.

[2017-08-12 15:45] Dahnark commented on #288
@lapism personally I found this bug https://github.com/lapism/SearchView/issues/293

All is working perfectly and (at this moment) I haven't received more ACRA reports related to the SearchView.

[2017-08-12 19:10] lapism commented on #288
I will fix it in next iteration...

[2017-08-14 13:13] Dahnark commented on #290
This can be closed, I have stopped to receive this crash with alpha3!

[2017-08-15 12:48] Dahnark opened #294 "Crash (same ID in hierarchy)"
USER_COMMENT=
ANDROID_VERSION=4.4.4
APP_VERSION_NAME=2.1.8
BRAND=Huawei
PHONE_MODEL=HUAWEI Y550-L01
CUSTOM_DATA=
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{com.company.app/com.company.app.MainActivity}: java.lang.IllegalArgumentException: Wrong state class, expecting View State but received class android.view.View$BaseSavedState instead. This usually happens whe

[2017-08-15 18:56] ItsCalebJones opened #295 "Implementing Suggestions/Search History"
Hey there,

Looks like there is no Sample with this project, however there was at one point? Perhaps would be a good time to add some implementation details in the readme. I'm struggling attempting to implement the search history here, even with reading the source code.

[2017-08-18 07:48] lapism commented on #295
I am sorry. Better README will be ASAP...

[2017-08-18 16:09] Dahnark commented on #294
USER_COMMENT=
ANDROID_VERSION=5.1
APP_VERSION_NAME=2.2.0
BRAND=lge
PHONE_MODEL=LG-X220
CUSTOM_DATA=
STACK_TRACE=java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase: /data/data/com.company.app/databases/search_history_database.db
at android.database.sqlite.SQLiteClosable.acquireReference(SQLiteClosable.java:55)
at android.database.sqlite.SQLiteDatabase.rawQu

[2017-08-19 18:11] HusseinElFeky opened #297 "Search in v5.0-alpha3 is too slow compared to v3.8"
I was using SearchView v3.8 before and everything was working great as expected, but when I updated to SearchView v5.0-alpha3, I encountered many issues.

One of them is that searching now is a lot more slower than before, and it updates the results list too late. My query can reach over 80,000 search items, so it takes much time to filter the query each time the text in SearchEditText is changed

[2017-08-20 14:56] lapism commented on #294
Thanks. I will fix it in next version. I hope...

[2017-08-20 16:10] #290 closed

[2017-08-20 16:27] lapism commented on #297
Yes, I understand. This version is still ALPHA, but I will take a look on comparison between those two versions.

[2017-08-20 16:51] Dahnark commented on #294
Thank @lapism, I am going to check alpha4, can I see a detailed changelog?

[2017-08-20 16:51] #280 closed

[2017-08-20 16:52] lapism commented on #280
Check the README...

[2017-08-20 16:54] lapism commented on #294
Sorry, It is not uploaded yet :)

[2017-08-20 16:55] Dahnark commented on #294
Yeah I just got this:

Error:(71, 20) Failed to resolve: com.lapism:searchview:5.0.0-alpha4

And I have gone to check bintray hahah.

[2017-08-20 17:05] HusseinElFeky commented on #297
Alright, thanks, looking forward to it!

[2017-08-20 17:14] lapism commented on #297
I hope I will fix it in next version Alpha5.

[2017-08-20 17:15] lapism commented on #295
Added. But I will improve it in future.

[2017-08-20 17:15] #295 closed

[2017-08-20 17:23] #288 closed

[2017-08-20 17:26] lapism commented on #297
Could you try Alpha4?

[2017-08-20 17:45] Dahnark commented on #293
I am still unable to get my suggestion list in the first search, I provocated this bug in my code or anyone more have it?

[2017-08-20 17:47] lapism commented on #293
This bug is part of new bugs in SearchAdapter ... I want to fix it in this week.

[2017-08-20 18:18] HusseinElFeky commented on #297
I tested alpha4, but unfortunately there was no difference. :/

1. You removed Java8 requirement, which is great. 👍

2. The searching speed is still the same though. I counted my search items, and it turned to be 128,783 search items exactly, which is really really very huge, I know. But in v3.8, it was fast and there was no problem with that, so I think the fade animation is the problem (I'm not

[2017-08-20 18:22] Dahnark commented on #293
Okay! Can you add this:

"@lapism ah, should be great that those check boxes can have on click listener, so when the user click them automatically it filters, without the necessary of the user insert text and touch search button"

To a feature request list?

[2017-08-20 18:33] lapism commented on #297
1. We needed Java 8 in our project but I decided to remove it because only a few people use it only.
2. I checked last commit before release of 3.8 and I am trying to find out what has been changed in Adapter and can cause this speed problems.
3. I will check it.
4. This is in TODO for next version.

[2017-08-20 18:35] lapism commented on #293
Yes, it is already there +1:

[2017-08-20 18:53] HusseinElFeky commented on #297
Ok awesome, waiting for it :)

[2017-08-21 12:16] lapism commented on #294
It is uploaded now.

[2017-08-21 12:56] lapism commented on #275
Is this still an issue?

[2017-08-21 13:02] lapism commented on #289
I do not know why I should add a new feature without released stable version 5.0.0. So maybe in future ...

[2017-08-21 13:02] #289 closed

[2017-08-21 13:09] lapism commented on #286
Is this still an issue?

[2017-08-21 13:09] #286 closed

[2017-08-21 17:37] Dahnark commented on #294
SearchView Alpha4

ANDROID_VERSION=4.4.2
APP_VERSION_NAME=2.2.2
BRAND=Huawei
PHONE_MODEL=T1-701u
CUSTOM_DATA=
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{com.company.app/com.company.app.MainActivity}: java.lang.IllegalArgumentException: Wrong state class, expecting View State but received class android.view.View$BaseSavedState instead. This usually happens when t

[2017-08-21 18:23] Dahnark commented on #286
Yes, it is fixed, but now the checkboxes are black instead of using accent color. In the other version this checkboxes are using accent color.

[2017-08-21 19:29] lapism commented on #286
Checkboxes will be fixed in next version. It is already fixed in my branch.

[2017-08-21 22:58] Dahnark commented on #294
Is this a library bug or a bug in my code?

[2017-08-22 12:21] Dahnark commented on #294
I am getting a lot of ACRA report of this. Is there any way to fix it myself?

[2017-08-22 23:57] JavierSegoviaCordoba opened #298 "Crash after I filter the content with checkboxes"
Hello,

https://stackoverflow.com/questions/40928788/cant-call-void-android-view-view-setelevationfloat-on-null-object-in-lapism-s

I was getting this issue when I was scrolling after do a search with a filter enabled via checkbox.

The solution mentioned in that thread of stackoverflow is working, but maybe you want to fix it.

[2017-08-23 08:39] lapism commented on #298
Yes I will fix it in next version.

[2017-08-23 13:00] Dahnark commented on #298
@lapism ah, I have to implement flexbox 0.3.0, if I don't implement it SearchView is not working since 5.0.0alpha.

I am using Java 8 too.

[2017-08-23 13:04] lapism commented on #298
I know. We found out that too with my colleague. It looks like some kind of bug in Android Studio, we actually do not know right now why it is happening.

[2017-08-23 13:07] lapism commented on #298
Also you need CardView probably...

[2017-08-23 13:34] Dahnark commented on #298
I was using CardView before add SearchView so I didn't notice.

Maybe is it reported to Google? Really Android Studio has a lot of incomprehensible bugs. The first time that I used 5.0.0alpha I had to clean and rebuild a lot of time, and one of them, Android Studio works and compiled the app... no code changes between each clean or rebuild.

[2017-08-23 13:41] lapism commented on #298
Someone should report it :-D. CardView and FlexBox are implemented as dependencies inside this library, but you need to implement both too in main project and this behavior is so strange.  Maybe this is error somewhere in library but I think it is not.

[2017-08-23 13:46] Dahnark commented on #298
With version 4.0 I haven't this problem with Flexbox, but I was using Android Studio 2.3 and "compile".

With version 5.0 alpha I directly used Android 3.0 and "implementation".

Maybe there can be the problem?

[2017-08-23 13:50] lapism commented on #298
Version 4.0 did not include FlexBox dependency. Honestly I don't know but ,,implementation" is new ,,compile,, which is deprecated now. We will see. This is the reason why I have Alpha versions :D.

[2017-08-23 13:53] lapism commented on #294
Check your code, but I will add search_ prefix to every id.

[2017-08-23 15:34] JulienRaad commented on #115
Hello guys, i have the same issue. I just can't see the results when using custom adapter. How can this be solved ?

[2017-08-23 15:39] lapism commented on #115
I have to check it because maybe that is a bug :-).

[2017-08-23 16:02] JulienRaad commented on #115
Results are not visible and sometimes the search view fails to show in dim mode when clicked and using a custom adapter. Is there a way to do it with the SearchAdapter and use custom view holder ?

[2017-08-23 17:30] Dahnark commented on #294
@lapism I changed all searchview IDs in java (mainactivity and fragment) and the xml. Still getting ACRA report of this.

USER_COMMENT=
ANDROID_VERSION=5.1.1
APP_VERSION_NAME=2.2.3
BRAND=samsung
PHONE_MODEL=SM-J320FN
CUSTOM_DATA=
STACK_TRACE=java.lang.RuntimeException: Unable to start activity ComponentInfo{com.company.app/com.company.app.MainActivity}: java.lang.IllegalArgumentException: Wrong st

[2017-08-24 06:07] lapism commented on #294
Maybe. Try to call it only in Activity or Fragment and check if your XML does not have views with same IDs.

[2017-08-24 08:02] EdwardQuixote opened #299 "Crash coz of FlexboxLayout in version 5.0.0-alpha4"
- After implementing SearchView in my Fragment Layout, the fragment can't even load.
- I checked the code to find FlexboxLayout wasn't imported successfully in class "SearchView.java"
- Error Log:
` Caused by: android.view.InflateException: Binary XML file line #101: Binary XML file line #101: Error inflating class com.google.android.flexbox.FlexboxLayout

[2017-08-24 08:10] lapism commented on #299
Please read this issue #298. You have to add FlexBox and CardView dependecy to your main app.

[2017-08-24 09:18] EdwardQuixote commented on #299
@lapism Worked. Thanks.

[2017-08-24 09:18] #299 closed

[2017-08-24 12:11] Dahnark commented on #294
Really in version 4.0 I have that code and it was working. BTW I removed all on the Activity and now it is only in the Fragment.

[2017-08-24 12:44] lapism commented on #294
Let me release a new version and we will see :-).

[2017-08-24 12:44] lapism commented on #294
Probably after this weekend.

[2017-08-25 14:05] Dahnark commented on #294
@lapism is it possible to change the filter state programmatically?

instead of search.getFiltersStates().get(0);

Something like: search.setFiltersStates().get(0).enabled(true/false);

[2017-08-26 18:53] debjitk opened #300 "Inflate error"
I am getting the following error ...

Binary XML file line #9: Error inflating class com.lapism.searchview.SearchView

Much down the stack trace ... I also have an error like ..

Didn't find class "com.google.android.flexbox.FlexboxLayout"

[2017-08-27 02:13] Dahnark commented on #300
implement by yourself flexbox 0.3.0 by google.

`dependencies {
    compile 'com.google.android:flexbox:0.3.0'
}`

[2017-08-27 15:29] debjitk commented on #33
I am getting the same error.

[2017-08-27 18:32] lapism commented on #33
Android OS version ?

[2017-08-27 22:49] ItsCalebJones commented on #295
Thanks! Great library.

[2017-08-29 11:06] lapism commented on #300
More in #298

[2017-08-29 11:06] #300 closed

[2017-08-29 18:50] lapism commented on #298
@Dahnark Hi, please can you add more info? OS version, library version? Is scrolling in AppBar still an issue?

[2017-08-29 19:47] Dahnark commented on #298
@lapism API 21-22 (I don't remember if 23 too).

This: `android:stateListAnimator="@null"` solved all.

[2017-08-29 19:48] lapism commented on #297
@HusseinElFeky tomorrow I hope.

[2017-08-29 19:58] lapism commented on #298
Yes, but I happened in version 4.0. Now it should not happen again. I hope :D

[2017-08-29 19:59] lapism commented on #298
Btw. this was happening when SearchView was not in AppBarLayout. It should be fixed already.

[2017-08-29 20:45] Dahnark commented on #298
@lapism What should be the place to the SearchView?

coordinatorlayout
    appbarlayout
         collapsingtoolbarlayout

some views

         collapsingtoolbarlayout
    appbarlayout
coordinatorlayout

**SearchView**

[2017-08-29 20:48] lapism commented on #298
in coordinatorLayout and use SearchBehavior. More in Readme.

[2017-08-29 20:50] Dahnark commented on #298
@lapism I failed, check updated comment

[2017-08-29 20:51] lapism commented on #298
Yes. Your Xml should work.

[2017-08-29 20:51] Dahnark commented on #298
What does this:  app:layout_behavior="com.lapism.searchview.SearchBehavior"?

I added it I have seen no difference

[2017-08-29 20:52] lapism commented on #298
It should scroll like Play Store. But did not try it yet :-D

[2017-08-29 20:53] lapism commented on #298
We did not try it yet *

[2017-08-29 20:54] Dahnark commented on #298
@lapism mmm do you want to say that searchview should dissapear if toolbar is not visible? In my app it is always visible so I can't check it

[2017-08-29 20:57] Dahnark commented on #298
Will be fixed suggestion list with the new alpha? Day after tomorrow I have a trip and I would like to implement add to the beta program a version of my app with this fixed.

Thank you!

[2017-08-31 23:08] Dahnark commented on #294
I got a new crash report of this and in a version of my app that is only using the fragment to call the searchview

[2017-09-01 18:48] the-dagger opened #301 "Maintain proper commit messages"
It would be great if the commit messages were a bit more meaningful.
Would help the community keep track of the active developments in the project.

Cheers.

[2017-09-01 18:49] lapism commented on #301
I know, sorry for that :+1:

[2017-09-01 18:49] #301 closed

[2017-09-01 20:32] HusseinElFeky commented on #297
For some reason, Android Studio says "Failed to resolve: com.lapism:searchview:5.0.0-alpha5".

[2017-09-01 20:43] lapism commented on #297
Why ? It has not been uploded yet. Tomorrow maybe.

[2017-09-01 20:55] HusseinElFeky commented on #297
Yeah, if it's not uploaded yet, then that's the reason. No worries. Great.

[2017-09-01 21:19] atar9500 opened #302 "SearchAdapter does not show any suggestions"
Hello,

I'm trying to show suggestions for places whenever the user types text into the SearchView, but currently the SearchAdapter doesn't seem to show any suggestions at all.
Please help me solve this issue, what am I doing wrong?

I'm currently using com.lapism:searchview:5.0.0-alpha4

Fragment:

`searchPlace = (SearchView) v.findViewById(R.id.search_place);
        searchPlace.setHint("Restaur

[2017-09-04 10:38] Dahnark commented on #297
@lapism is it uploading yet? Bintray show alpha 4.

[2017-09-04 10:43] lapism commented on #297
Today or tomorrow ;).

[2017-09-05 19:32] HusseinElFeky commented on #297
@lapism Any news?

[2017-09-05 22:41] HusseinElFeky commented on #302
About how many suggestions are there in your SearchAdapter?

[2017-09-06 09:26] atar9500 commented on #302
I'm getting my suggestions from google place autocomplete api, so it's about 5 suggestions max

[2017-09-06 14:32] Dahnark commented on #302
there is a known bug that the first search doesn't show suggestions, the second search for me starts to show suggestions

[2017-09-06 14:35] lapism commented on #297
This weekend I hope. I did not have a time.

[2017-09-06 20:53] HusseinElFeky commented on #297
Ok, thanks. No problem. :)

[2017-09-06 23:21] boswelja commented on #297
@lapism have you considered collaborating with other people to get releases out sooner?
I know pull requests are enabled, but most people just tend to make a new issue

[2017-09-07 08:43] monajafi opened #303 "Can't download library in gradle"
Hi
After syncing gradle I faced with following error which is related to library gradle link:
Error:(43, 20) Failed to resolve: com.lapism:searchview:5.0.0-alpha5
I upgraded android studio to version 3 preview beta 4 and gradle to version 3 but I coudln't solve problem
alpha4 get downloaded without problem

[2017-09-07 09:34] monajafi commented on #282
Hi
There is no setArrowOnly method in latest version how we should hide hamburger icon in latest version

[2017-09-07 12:48] HusseinElFeky commented on #303
Yeah, that happens because version 5.0.0-alpha5 is not uploaded to bintray yet. It was only updated in README.md before it got uploaded. @lapism said he will upload it this weekend. For now you will have to use version 5.0.0-alpha4.

[2017-09-07 13:05] monajafi commented on #303
Thanks a lot

[2017-09-07 16:27] lapism commented on #303
Yes. I forgot. I will upload it this weekend.

[2017-09-07 16:27] #303 closed

[2017-09-07 16:34] lapism commented on #297
@boswelja no I have not. You are right, people still open new issues but only a few of them send a pull request with bugfix. And because I have a job and family I do not have much time for fixing everything.

[2017-09-08 13:36] Dahnark commented on #294
Before you release this weekend the new version, is this fixed?

[2017-09-08 18:10] Dahnark commented on #294
I installed Crashlytics so I have more data about this error (phone, Android version, etc). Do you need it?

[2017-09-08 19:34] lapism commented on #294
Sure. Just send me this on my email here. And btw. I am not really sure what I should fix and what has been fixed already. I need to take a look on everything here.

[2017-09-08 20:19] Dahnark commented on #294
@lapism where can I get your email?

[2017-09-08 20:26] Dahnark commented on #294
For me I have two problems:
- This crash.
- No suggestion list in the first search, second search works perfectly.

[2017-09-10 23:26] HusseinElFeky commented on #297
Issues #2 and #3 are the only ones left in this query. I have fixed the others. I will start working on them when I have time probably next week though if they are not fixed yet. :)

[2017-09-10 23:26] HusseinElFeky commented on #297
Issues 2 and 3 are the only ones left in this query. I have fixed the others. I will start working on them when I have time probably next week though if they are not fixed yet. :)

[2017-09-12 12:23] JavierSegoviaCordoba opened #309 "Issue alpha4"
`Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$ArrayListIterator.next(ArrayList.java:569)
       at com.company.app.Fragments.Fragment.filter(Fragment.java:2290)
       at com.company.app.Fragments.Fragment$4.onQueryTextChange(Fragment.java:580)
       at com.lapism.searchview.SearchView.onTextChanged(SearchView.java:1099)
       at com.lapism.searchview.

[2017-09-12 12:25] #293 closed

[2017-09-12 14:01] HusseinElFeky commented on #309
It is not a bug in the library. I believe you are calling something like `list2.remove(list);` under a certain condition. If that's the case, check this [link](https://stackoverflow.com/questions/223918/iterating-through-a-collection-avoiding-concurrentmodificationexception-when-re) on how to fix it.

[2017-09-12 17:19] Dahnark commented on #309
This is the code @HusseinElFeky :

[code]

[2017-09-12 19:40] HusseinElFeky commented on #309
@Dahnark I'm not sure what the problem is. Do you change anything regarding `list2` at any point? Can you also maybe try always calling `listFiltered.add(summoner);` by removing the condition and test if your app crashes?

[2017-09-12 19:50] Dahnark commented on #309
The app is never crashing for me, I can't test it...

[code]

[2017-09-12 20:49] HusseinElFeky commented on #309
Weird, I don't see anything wrong. :/ Do you have any code in `onQueryTextChange()` other than `filter()`?

[2017-09-12 21:42] Dahnark commented on #309
[code]

[2017-09-12 22:26] boswelja commented on #309
why don't you use alpha6? I heard that was released

[2017-09-12 22:27] HusseinElFeky commented on #309
@Dahnark I have no idea what's causing this issue. :/

[2017-09-12 22:27] Dahnark commented on #309
I have to upload it to play store

[2017-09-12 23:53] boswelja commented on #309
what does your CustomList class look like?

[2017-09-13 06:28] boswelja commented on #309
@Dahnark whats wrong with using alpha6 in a public release if you're already using alpha4?

[2017-09-13 10:03] Dahnark commented on #309
I said a lot of times, I have to upload the app with alpha6 to the play store but this bug maybe is in alpha6 because nobody report it before.

[2017-09-13 10:15] boswelja commented on #309
@Dahnark oh so that's what you mean't, your use of have (present tense) over had (past tense) confused me, I thought you were going to upload this build but encountered this issue, my bad.. But as I said before, what does your CustomList class look like?

[2017-09-13 10:50] Dahnark commented on #309
really my English is not very good :( when I arrive to home I will copy the class

[2017-09-13 10:54] lapism commented on #309
I will take a look on this issue this weekend probably.

[2017-09-13 15:50] PashkinAlexey commented on #294
I have the same crush in my app. I use Search in fragments, and it crushs after i push home button, use other apps, my app destroys, and I come to my app again.

java.lang.RuntimeException: Unable to start activity ComponentInfo{lenremont.crm.ru.courier/lenremont.crm.ru.courier.MainActivity}: java.lang.IllegalArgumentException: Wrong state class, expecting View State but received class android.vie

[2017-09-13 15:52] lapism commented on #294
Are you using Alpha6?

[2017-09-13 15:53] PashkinAlexey commented on #294
yep

[2017-09-13 15:54] lapism commented on #294
Ok, so I am going to check it this weekend.

[2017-09-13 15:58] PashkinAlexey commented on #294
ok, if i would fix it by myself i would write here about it

[2017-09-13 15:59] lapism commented on #294
Ok

[2017-09-13 16:00] PashkinAlexey commented on #294
i am sure that it is associated with [that](https://developer.android.com/training/basics/activity-lifecycle/recreating.html)

[2017-09-14 13:02] Dahnark commented on #294
@PashkinAlexey your URL is redirecting me to this: https://developer.android.com/guide/components/activities/activity-lifecycle.html

How can I check the section "recreating"?

[2017-09-15 12:56] AlexeyGorovoy opened #311 "Dynamically switching between TOOLBAR and MENU_ITEM vesions"
I currently see a problem with that.

All my fragments have a search view in a MENU_ITEM version, but I want it to be available as a TOOLBAR on the one specific fragment. So I just switch versions.  like this:

        // search view in defined in main activity and all fragments access it.
        // any fragment
        version = SearchView.Version.MENU_ITEM
        versionMargins = SearchView.Ve

[2017-09-15 13:29] lapism commented on #311
Have you tried .invalidate()?

[2017-09-15 13:38] AlexeyGorovoy commented on #311
I had a thought to try it, but it looks like the call to 'searchView.invalidate()' will invoke the default implementation.  I mean SearchView doesn't override it from the `View` class.

Given you're an author of the lib, I guess I should try it, shouldn't I?)

[2017-09-15 13:41] lapism commented on #311
Yes, it will be default but you can setVersion after that. It should be functional, but if it does not work I will fix it ASAP.

[2017-09-15 14:20] AlexeyGorovoy commented on #311
That doesn't seem to work.

After an `invalidate()` call both `searchView` and `mCardView` (the inner variable of a `SearchView`) remain in `GONE` state and nothing is visible to the user.

And while I'm able to call `searchView.visibility = VISIBLE`, it still gets me nothing as I can't access private 'mCardView'.

Proper steps to reproduce, if you decide to investigate the issue:
- init search vi

[2017-09-15 15:32] PashkinAlexey commented on #294
if (savedInstanceState != null) in your onCreate or onViewStateRestored methods.
if savedInstanceState  is null - your activity creates as new, if not null - your activity trying to restore it's state.

[2017-09-15 15:36] PashkinAlexey commented on #294
To avoid my crash problem i use
`@Override
    public void onSaveInstanceState(Bundle outState) {
        super.onSaveInstanceState(requestFragment.saveInstanceState(new Bundle()));
    }`
After that You can handle this bundle on recreate and use it as you wish.

[2017-09-15 19:48] younas-bangash opened #312 "Suggestion is not Displaying"
I am using the below code in order to get the result from the API and during log i successfully see the response with no erro but suggestion is not displaying

[code]

[2017-09-15 20:02] HusseinElFeky commented on #312
What version do you use? This was fixed in alpha5.

[2017-09-15 20:02] HusseinElFeky commented on #312
What version do you use?

[2017-09-15 20:03] younas-bangash commented on #312
I solve that issue by setting setSuggestionsList() funtion Thanks @HusseinElFeky

[2017-09-15 20:04] HusseinElFeky commented on #312
Oh yeah. I didn't notice that. Great.

[2017-09-15 20:06] younas-bangash commented on #312
If we have and ID with SearchItem than how to handle ID ?

[2017-09-15 20:08] HusseinElFeky commented on #312
What do you exactly mean by ID in your case here? What do you want to achieve?

[2017-09-15 20:11] HusseinElFeky commented on #312
You can use `setOnSearchItemClickListener()` on `SearchAdapter` if you want to do actions from that `SearchItem`. Is that what you meant?

[2017-09-15 20:12] younas-bangash commented on #312
Ohh Thanks I can solve my issue using that thanks for your help @HusseinElFeky

[2017-09-15 20:13] HusseinElFeky commented on #312
You're welcome. ;)

[2017-09-15 20:28] younas-bangash commented on #312
But I am now facing attempt to `java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase:` and I think which was fixed in previous version

[2017-09-15 20:42] HusseinElFeky commented on #312
Yes, it's still an issue that needs to be fixed. Check issue #178.

[2017-09-15 21:15] HusseinElFeky commented on #294
@Dahnark @PashkinAlexey If you use Android Studio, try searching all your files for `@+id/searchView` by pressing `Ctrl` + `Shift` + `F`. Make sure there are no redundant views with the same id that are added in the same hierarchy in your activity (even if they were in different layouts, what matters is if they are in the same hierarchy). Did you try that?

[2017-09-15 21:17] Dahnark commented on #294
I did it. It is a library problem and I think that the problem is related with pashkin link

[2017-09-15 21:24] HusseinElFeky commented on #294
Do you use `SearchView` inside a fragment? If yes, can you check [this](https://stackoverflow.com/questions/22499272/android-illegalargumentexception-wrong-state-class-if-the-app-was-background-fo)?

[2017-09-15 21:27] HusseinElFeky commented on #294
Do you use `SearchView` inside a fragment? If yes, can you check [this](https://stackoverflow.com/questions/22499272/android-illegalargumentexception-wrong-state-class-if-the-app-was-background-fo)? In that case, the exception occurred because the fragment was getting recreated and thus creating another instance of `SearchView` with the same id.

[2017-09-16 09:25] Shubhraaaj opened #313 "Unable to compile gradle"
I have used this in my app.gradle

compileSdkVersion 26
    buildToolsVersion "26.0.1"

    compile 'com.android.support:appcompat-v7:26.+'
    compile 'com.lapism:searchview:5.0.0-alpha6'
    compile 'com.android.support:cardview-v7:26.0.2'
    compile 'com.google.android:flexbox:0.3.0'

But there are four errors:-
Error:Failed to resolve: com.android.support:appcompat-v7:26.0.2
<a href="install.

[2017-09-16 10:52] EmmanuelMess commented on #313
Try with 26.0.1

[2017-09-16 12:17] HusseinElFeky commented on #313
Try changing
`com.android.support:appcompat-v7:26.+`
to
`com.android.support:appcompat-v7:26.0.2`

[2017-09-16 12:42] Shubhraaaj commented on #313
I tried them all. but still it gives the same error and even I cannot Install Repository and Sync project

[2017-09-16 13:24] EmmanuelMess commented on #313
You have `buildToolsVersion "26.0.1"` and `compile 'com.android.support:cardview-v7:26.0.2'` and `compile 'com.android.support:appcompat-v7:26.+'` choose a vesion (26.0.1 or 26.0.2) and stick (explicitly to it).

[2017-09-16 14:05] HusseinElFeky commented on #313
@EmmanuelMess That won't matter. `buildToolsVersion` is different from Android support libraries. I use it like that, and it works. @Shubhraaaj Can you post all your `build.gradle` code?

[2017-09-16 14:07] Shubhraaaj commented on #313
apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    buildToolsVersion "26.0.1"
    defaultConfig {
        applicationId "com.example.shubhraj.prototype"
        minSdkVersion 19
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
    }
    buildTypes {
        rel

[2017-09-16 14:42] Dahnark commented on #313
You have to add cardview and flexbox dependencies.

You are using miguel catalan material search view in your last comment, this is not that searchview library.

[code]
And in build tools version:   `  buildToolsVersion "26.0.1"`

[2017-09-16 14:49] HusseinElFeky commented on #313
Yeah, the issue should be closed now.

[2017-09-16 14:50] HusseinElFeky commented on #294
@Dahnark Have you got this working or are you still testing?

[2017-09-16 15:42] Dahnark commented on #294
I haven't this problem never, my users got it. so I have to check your code, implement it to play store, wait to a lot of users get my app and then check Crashlytics. This week I had no time because I was moving a lot of debris from my house. I will check this tonight or tomorrow.

Does OP know how to reproduce it to test personally instead of wait to get Crashlytics reports?

[2017-09-16 16:09] Dahnark commented on #294
@HusseinElFeky but if I implement this: `if(myFragment == null)`

And using the navigation drawer to change from one fragment to another one, does not it stop to work?

[code]

Should I use

[code]

[2017-09-16 16:15] Dahnark commented on #294
ah and this issue was not appearing in version 4.0

[2017-09-16 16:29] #313 closed

[2017-09-16 16:48] HusseinElFeky commented on #294
I didn't test that solution, but I only sent you that link in case you can have any insight to this issue. Well, I would say test your new implementation first before uploading it to Play Store. Try rotating your screen many times, use navigation drawer to switch between fragments, go to home screen, open any other app, use it for a while, then go back to your app and see if everything still works

[2017-09-16 17:15] HusseinElFeky commented on #294
Alright, so while checking v4.0, I found no difference at all in `onRestoreInstanceState`, `onSaveInstanceState` and `SavedState` itself, so it **should** not be a new issue in v5.0. Try what I said, and I hope it gets fixed.

[2017-09-16 18:49] Dahnark commented on #294
my app haven't enabled screen rotation but maybe this is the problem: https://stackoverflow.com/a/8127813/3262021

[2017-09-16 19:43] Dahnark commented on #294
Or maybe this:
[code]

[2017-09-16 20:11] Dahnark commented on #309
@boswelja
[code]

[2017-09-16 20:17] HusseinElFeky commented on #294
The link you posted is already implemented in this library, while for `onDestroyView` do you call that in your code or is it just a solution that you are thinking to implement?

[2017-09-16 20:49] Dahnark commented on #294
I implemented it in my fragment, hope it fixes this problem. Really I did a lot of things like have my app a lot of hours in the background, open and close via multitasking, open and close with the back button, etc. I can't get this crash on my phone and emulators.

Even enabling autorotate just to force this crash is not provoking the crash...

[2017-09-16 21:59] HusseinElFeky commented on #294
Yeah, I also get this type of crashes a lot while I never get it at all, not in this library though. Well I hope it gets fixed. Until then, tell us the news when users install your update.

[2017-09-16 22:31] boswelja commented on #309
@Dahnark can't see anything wrong there either :/

[2017-09-16 22:38] Dahnark commented on #294
it is not working, it still crashes

[2017-09-16 22:40] Dahnark commented on #309
well we should wait to @lapism check it

[2017-09-16 23:10] HusseinElFeky commented on #294
Which solution did you implement (my link or `onDestroyView` or both? and is it mandatory to put that SearchView inside your fragment? The optimal fast and easy solution would be to put it in your activity.

[2017-09-16 23:14] Dahnark commented on #294
onDestroyView

But if I want to have different suggestion list for each fragment how can I have only it in the activity?

[2017-09-16 23:30] HusseinElFeky commented on #294
It's easy, just `setSuggestionsList` each time you change your fragment, but it depends. Do you switch between fragments a lot? If yes, then that solution won't be efficient, otherwise you should do that.

[2017-09-17 02:20] Shubhraaaj opened #314 "Please provide sample app."
Please provide code for a sample app that implements search using this library.

[2017-09-17 02:33] boswelja commented on #314
No, it was removed as it was out of date

[2017-09-17 08:52] Dahnark commented on #294
but I have a lot of views in app bar xml that I change programmatically inside the fragment like images, and only fails the searchview. Are you sure that this problem is not in the library?

[2017-09-17 10:34] HusseinElFeky commented on #294
I am not sure. @lapism should check.

[2017-09-17 10:40] HusseinElFeky commented on #314
You can check the sample code in README.md. Not all features are written there, but the most common ones are written. If you want to know about the other features, you should check the source code itself.

[2017-09-17 13:22] Dahnark opened #315 "Change SearchView position"
For some reasons in my CollapsingToolbarLayout I have the toolbar at the bottom. Then I tried to change the gravity of the SearchView to appears at bottom but out of the Toolbar (if not, it appears at the left of menu icons), it is working but when I press the search button, the SearchView is moved up to the top of the screen.

Is there any way to put it inside the toolbar but when I press the sea

[2017-09-17 16:12] Dahnark commented on #294
@HusseinElFeky really the only thing I can do is to use the default Android SearchView and check if it has this problem

[2017-09-17 18:41] HusseinElFeky commented on #294
@Dahnark Yeah, if I were you, I would have done the same. OK 👍

[2017-09-17 18:59] #314 closed

[2017-09-17 19:02] lapism commented on #314
If you use the third party library then you should be able to do almost everything by yourself. The library is very simple  so you do not need whole sample for it.

[2017-09-17 19:33] HusseinElFeky commented on #283
@lapism Shouldn't this get closed now? It's already implemented.

[2017-09-17 19:46] Dahnark commented on #294
@HusseinElFeky I will wait to get a @lapism comment about if he can fix it and if not I will try to release a version with normal SearchView.

[2017-09-17 20:01] HusseinElFeky commented on #297
I have finally fixed all the issues mentioned here, so I will close this issue once my pull request gets approved.

[2017-09-17 20:02] HusseinElFeky commented on #297
I have finally fixed all the issues mentioned here, so I will close this issue once my pull request gets merged.

[2017-09-17 20:14] HusseinElFeky commented on #294
@Dahnark I updated my app with v5.0.0-alpha6, and I have just got some crashes like you exactly. I never got it before in v3.8 and v4.0, so it is definitely a bug in v5.0.

FYI, I used it in an activity, not inside a fragment like you, but my app doesn't rotate as well. So in both cases, that bug still occurs. I really hope this gets fixed soon because more crashes means lower ratings.

[2017-09-17 20:15] HusseinElFeky commented on #294
@Dahnark I updated my app with v5.0.0-alpha6, and I have just got some crashes like you exactly. I never got it before in v3.8 and v4.0, so it is definitely a bug in v5.0.

FYI, I used it in an activity, not inside a fragment like you, but my app doesn't rotate as well. So in both cases, that bug will still occur. I really hope this gets fixed soon because more crashes means lower ratings.

[2017-09-17 20:23] Dahnark commented on #294
Yeah, if I will tell you about lower ratings in my app even with the app working and with no crashes... at this moment in my app there are two really important crashes, this crash, and [onQueryTextChange crash](https://github.com/lapism/SearchView/issues/309).

This last problem maybe is created by me but I can't reproduce it.

[2017-09-17 20:41] HusseinElFeky commented on #294
My only issue now is this crash. I didn't use v5.0-alpha6 though. I implemented this library directly to my app so that I can merge my pull request in the source code as well. I didn't face an issue in `onQueryTextChange` though, so yeah maybe.

[2017-09-17 23:08] HusseinElFeky commented on #294
@Dahnark I think [that](https://stackoverflow.com/questions/3542333/how-to-prevent-custom-views-from-losing-state-across-screen-orientation-changes) has something to do with the problem. Read Nick Street's comment on Qberticus's answer there. I think I might create another pull request tomorrow implementing Kobor42's solution instead. I just hope @lapism responds because he has been away for a whi

[2017-09-17 23:27] Dahnark commented on #294
@HusseinElFeky yeah, I passed that link with the kobor42 solution yesterday, in that thread there are 3 or 4 different solutions. Maybe one of them works.

This [link ](http://trickyandroid.com/saving-android-view-state-correctly/)has been commented in the kobor52 answer.

But if alpha 4.0 didn't have this error, what has changed?

@lapism have you read that StackOverflow thread?

[2017-09-18 06:56] lapism commented on #294
Sorry guys, I have a life so I have not read anything from here yet. ... ASAP

[2017-09-18 13:15] HusseinElFeky commented on #312
@lapism You should mark this as a duplicate of #178.

[2017-09-18 13:16] Dahnark commented on #312
Some LG users is getting this crash related with SQLite:
[code]
It is related?

[2017-09-18 13:17] HusseinElFeky commented on #312
Yes, I think. Same idea.

[2017-09-18 13:19] lapism commented on #312
Guys I am gonna check it today after work.

[2017-09-18 13:20] HusseinElFeky commented on #312
@lapism OK, cool. Can you also check #310 when you are free?

[2017-09-18 13:22] Dahnark commented on #312
@lapism really only two users get this problem. I think is more priority the issue of duplicate ID.

![image](https://user-images.githubusercontent.com/7463564/30543941-1f9dbe42-9c85-11e7-8ad8-9a7187728e33.png)

First is duplicated ID, second onTextChanged

[2017-09-18 13:24] HusseinElFeky commented on #312
Yeah, indeed.

[2017-09-18 22:19] HusseinElFeky commented on #294
I'm currently working on that. I understood the reason causing it. In my case, I had two SearchViews in the same activity, but each one had its own setting. So as the crash log explained, both of them had the same childs with the same ids. @Dahnark In your case, I think when switching between fragments, SearchView still saved its state? I'm not sure of that, but that's my thought. Anyway, I'm fixi

[2017-09-18 22:59] Dahnark commented on #294
I am only calling at this moment the searchview from only one fragment (in future other fragments maybe call it for different purposes)

[2017-09-19 01:07] HusseinElFeky commented on #294
Well when you switch between fragments and return to the same fragment, I believe a new `SearchView` instance is created ignoring the last saved `SearchView` as what the log explains. Anyway I should have finally fixed this issue, but first I will upload it to Play Store tomorrow and will see in my crash reports if it still occurs or not. If no crash is found, I will make a pull request probably a

[2017-09-19 05:09] lapism commented on #302
@HusseinElFeky No, I have not had time for this yet. ASAP.

[2017-09-19 07:52] AlexeyGorovoy commented on #282
Has anyone managed to do it without forking the library?

[2017-09-19 11:10] #297 closed

[2017-09-19 11:22] HusseinElFeky commented on #302
@atar9500 Try using v5.0.0-alpha6. It is fixed.

[2017-09-19 12:01] Dahnark commented on #294
@HusseinElFeky BTW the problem should be in the change from 4.0 to 5.0, so checking these changes the problem should be reverted.

[2017-09-19 12:47] HusseinElFeky commented on #294
@Dahnark Although I definitely agree with you about that, when I compared both versions, there were many stuff changed in the middle, so I couldn't know what new change caused this issue. However my fix should already solve that problem. I already do that in every custom view I create, and there was no problem in it, so it should be hopefully fixed. I have just updated my app now. I will wait till

[2017-09-20 23:51] HusseinElFeky commented on #294
and it's fixed! @Dahnark Let me know if you still have any issue with that. @lapism Can you release alpha7? 🎉

[2017-09-20 23:52] HusseinElFeky commented on #294
and it's fixed! @Dahnark Let me know if you still have any issue with that. @lapism I think alpha7 is ready to be released. 🎉

[2017-09-21 06:37] Dahnark commented on #294
Perfect! I am going to upload my app with alpha7 when it is released.

[2017-09-21 06:41] lapism commented on #294
@HusseinElFeky I am going to check everything you have sent. After that I will release probably this weekend.

[2017-09-21 11:25] HusseinElFeky commented on #294
OK great.

[2017-09-22 15:12] FantasyLand17 opened #317 "How do you display search results while overlaying the search above them when searchview is active?"
What I am trying to achieve is to display my results in a ViewPager ( Tablayout ) that sits right under the searchbar.
Currently, when I activate the search, it hides everything underneath and I just want it to overlay it. So it basically hides everything underneath it. Here's my XML:

[code]

[2017-09-23 10:41] Dahnark commented on #294
@lapism is there a ETA for alpha7?

[2017-09-24 16:18] Dahnark commented on #294
Really I have this hurry because I am going to spend some money to get an adword coupon (it expires soon) and I would like to advertise my app without this crash.

[2017-09-24 16:19] lapism commented on #294
Give me a half of hour

[2017-09-24 16:20] Dahnark commented on #294
Thank you @lapism !

[2017-09-24 16:40] lapism commented on #294
Released.

[2017-09-24 18:38] Dahnark opened #318 "Black translucent background doesn't have animation at first open of SearchView"
The first time that I open the SearchView doesn't show the animation of the black translucent background. But the next time I open it starts to show this animation.

This bug is in alpha7 but I think that it was in previous alpha versions.

[2017-09-24 18:40] HusseinElFeky commented on #318
Yeah, it was also in previous alpha versions.

[2017-09-24 18:57] lapism commented on #318
Maybe. And this is the reason why from now I will not accept any kind of pull request because I want to test everything by myself when I will have more time. And after that I will release it.

[2017-09-24 21:03] HusseinElFeky commented on #318
@lapism That issue was there since at least `v5.0.0-alpha3`. That was the first version I tried in the alpha versions of version 5, so it might have even been there since alpha1. So you should check the changes from alpha version 3 and below.

[2017-09-24 21:04] HusseinElFeky commented on #318
@lapism That issue was there since at least `v5.0.0-alpha3`. That was the first version I tried in the alpha versions of version 5, so it might have even been there since alpha1. So to save time for you, you can check the changes from alpha version 3 and below.

[2017-09-25 02:01] shenjingfs opened #319 "SearchView reopen after close"
I want show query text after click suggestion item.
My code:
<pre><code>
searchAdapter.setOnSearchItemClickListener(new searchAdapter.setOnSearchItemClickListener((view, position) -> {
            searchView.setTextOnly(query);
            searchView.close(false);
        });
</code></pre>

I think this may cause by:
<pre><code>
 private void onTextChanged(CharSequence newText) {
        mQuery =

[2017-09-30 04:56] FantasyLand17 opened #321 "java.lang.IllegalStateException: attempt to re-open an already-closed object:"
I just used the new version ( alpha7 ) and I am still getting this error every time I do a search:

`java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase: /data/data/com.myapp/databases/search_history_database.db`

I have the following code:

`final SearchHistoryTable mHistoryDatabase = new SearchHistoryTable(mContext);
mHistoryDatabase.addItem(new SearchIte

[2017-10-02 03:00] 0wzZZzz6 opened #322 "SearchView not showing in CoordinatorLayout"
Please help me Im struggling with this for 2 days already.
Here's my layout:

`<?xml version="1.0" encoding="utf-8"?>

<android.support.design.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_hei

[2017-10-08 00:46] Dahnark commented on #294
I can confirm this is fixed for me, I will close it.

[2017-10-08 00:46] #294 closed

[2017-10-08 20:59] lmdic opened #323 "Search on network"
Is it possible to do http request while typing text in SearchVIew component?

[2017-10-08 21:02] Dahnark commented on #323
I am using an AsyncTask with Okhttp and I can type in the SearchView at the same time the async task is working.

[2017-10-08 21:12] boswelja commented on #323
Of course, just make sure to make it asynchronous, don't want to block the UI thread

[2017-10-08 21:18] lmdic opened #324 "Custom suggestion list"
Is it possible to show my custom suggestion list (custom layout) while typing text in SearchVIew?

[2017-10-09 08:14] #323 closed

[2017-10-09 08:15] lapism commented on #324
yes, with your custom adapter.

[2017-10-09 08:15] #324 closed

[2017-10-09 14:46] PashkinAlexey opened #325 "Removing focus broke"
When I use `mSearchView.removeFocus();` first time after activity start, my keaboard closes, but interface staying gray and locked. To open my interface I need to click on SearchView and click another place.
When I use `mSearchView.removeFocus();` next times problem not appears.
Now I use alpha7 and on alpha6 there was no such problem.

[2017-10-09 15:05] lapism commented on #325
This happened because one from last pull requests was broken. I will fix it ASAP.

[2017-10-09 15:06] PashkinAlexey commented on #325
OK! I wait

[2017-10-11 11:12] lagoren commented on #313
hi i have the same problem, this solution didn't work for me..
can anyone help me with that? this is my app.gradle file:

apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    buildToolsVersion "26.0.1"
    defaultConfig {
        applicationId "com.example.galgoren.finalproject"
        minSdkVersion 16
        targetSdkVersion 26
        versionCode 1
        versionNam

[2017-10-11 11:45] Dahnark commented on #313
@lagoren your dependencies{} doesn't have the 3 dependencies required. You don't even have the SearchView dependency so I don't understand how you are having this problem :/

[2017-10-11 11:48] lagoren commented on #313
hey thanks for replaying this is my gradle when it works :) i tried to do this and got an error:

apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    buildToolsVersion "26.0.1"
    defaultConfig {
        applicationId "com.example.galgoren.finalproject"
        minSdkVersion 16
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInst

[2017-10-11 11:51] HusseinElFeky commented on #313
Use alpha7, it's released, although that's still not the reason. What error do you get?

[2017-10-11 11:53] lagoren commented on #313
Failed to resolve: com.lapism:searchview:5.0.0-alpha6

[2017-10-11 11:55] lagoren commented on #313
just used alpha7 and it did not give me errors, trying it right now ..thank you!

[2017-10-11 11:55] Dahnark commented on #313
Update all dependencies, then clean and rebuild the project.

[2017-10-11 11:57] Dahnark commented on #313
@lagoren https://bintray.com/lapism/maven/searchview/view

alpha6 is not there.

[2017-10-11 12:13] lagoren commented on #313
after changing it to alpha7 it seems to work thank you!

but when im trying to find the view i get an error:

SearchView cannot be cast to android.support.v7.widget.SearchView
                                                                                     at com.example.galgoren.finalproject.MainActivity.onCreate(MainActivity.java:74)

[2017-10-11 12:43] Dahnark commented on #313
have you added the view to the layout?

[2017-10-11 12:58] lagoren commented on #313
this is my onCreate at MainActivity:

package com.example.galgoren.finalproject;

import android.content.BroadcastReceiver;
import android.content.Context;
import android.content.Intent;
import android.content.IntentFilter;
import android.os.Build;
import android.os.Bundle;
import android.support.design.widget.TabLayout;
import android.support.v4.app.Fragment;
import android.support.v4.content.Loc

[2017-10-11 12:59] lagoren commented on #313
yes here is my activity_main.xml

<?xml version="1.0" encoding="utf-8"?>
<android.widget.RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.example.galgoren.finalproj

[2017-10-11 13:00] lagoren commented on #313
and my MainActivity onCreate:

package com.example.galgoren.finalproject;

import android.content.BroadcastReceiver;
import android.content.Context;
import android.content.Intent;
import android.content.IntentFilter;
import android.os.Build;
import android.os.Bundle;
import android.support.design.widget.TabLayout;
import android.support.v4.app.Fragment;
import android.support.v4.content.LocalBroad

[2017-10-11 16:08] HusseinElFeky commented on #313
You imported the wrong class. Replace `import android.support.v7.widget.SearchView;` with `import com.lapism.searchview.SearchView;`.

[2017-10-11 16:14] lagoren commented on #313
thank you!

[2017-10-11 17:29] lagoren commented on #313
i was trying for couple of hour to hide suggestions, when i click on the search view an empty blue menu is opened, i tried: searchBar.hideSuggestions(); and it didnt work

[2017-10-15 02:47] diceroll123 commented on #267
Any update on this? 😩

[2017-10-16 08:59] shahimclt commented on #267
So I finally figured this out after a billion trial-and-errors:

If you are using the `SearchView` with an `AppBarLayout`/`CollapsingToolbarLayout` put the searchview outside the `AppBarLayout`. Like this:

	<android.support.design.widget.CoordinatorLayout
		android:layout_width="match_parent"
		android:layout_height="match_parent"
		xmlns:android="http://schemas.android.com/apk/res/android"
		xml

[2017-10-16 09:15] Dahnark commented on #267
@shahimclt the docs said that you have to do that. Check the xml samples.

[2017-10-19 10:26] younas-bangash opened #326 "Gradle DSL method not found"
[code]

But I see following error

[code]

[2017-10-19 10:35] #326 closed

[2017-10-19 11:56] younas-bangash commented on #211
How to set our own in XML ?

[2017-10-19 12:07] lapism commented on #211
android:margin attribute in xml ...

[2017-10-19 12:26] younas-bangash commented on #282
In new version you can set the icon

` mSearchView.setNavigationIcon(R.drawable.ic_back);`

[2017-10-20 00:27] EmmanuelMess commented on #282
Will try when the new version reaches stability.

[2017-10-20 00:43] boswelja commented on #326
Worked it out? You need to use Gradle 3.0+ to use implementation, otherwise, use compile

[2017-10-21 09:29] younas-bangash opened #327 "Attempt to re-open an already-closed object: SQLiteDatabase"
I used the new version ( alpha7 ) and I also used the old version but in both versions, I am getting this error every time I do a search and click on the item which is already added in Database:

`java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase: /data/data/com.myapp/databases/search_history_database.db`

I have the following code:

`final SearchHistoryT

[2017-10-21 21:18] boswelja commented on #327
You're closing the database too soon

[2017-10-22 05:14] younas-bangash commented on #327
Yes the search history is doing that @boswelja  so what is the solution for that issue I notice it's the main issue and did not solve yet ?

[2017-10-22 06:00] boswelja commented on #327
To fix it in the source code

[2017-10-22 06:11] younas-bangash commented on #327
Can you please tell me that which version is stable and OK to use in the production app

[2017-10-22 06:15] HusseinElFeky commented on #327
@younas-bangash This bug is there since the very old versions of this library. It still needs to be fixed, so for now, alpha7 is the latest one.

[2017-10-22 06:19] younas-bangash commented on #327
@HusseinElFeky is that OK if I contribute in that library in order to fix that bug?

[2017-10-22 06:28] HusseinElFeky commented on #327
@younas-bangash Yeah, sure.

[2017-10-23 07:18] lapism commented on #327
@younas-bangash Right now I do not have time to work on this project. But I will accept every fixed bug.

[2017-10-23 07:22] younas-bangash commented on #327
@lapism I will try to fix that issue as soon as possible and will push the code

[2017-10-24 19:27] kzotin opened #328 "java.lang.NoSuchFieldError: No field search_view_shadow"
Hi,

I'm trying to run super simple example, and App is crashing with following exception:
[code]

com.lapism.searchview.R is getting generated, but `search_view_shadow` not inside it.

Maybe I'm missing something? Is there any working sample code?

Thanks in advance )

[2017-10-27 20:43] feinstein opened #329 "Provide fully functioning demo code"
It would be nice to have a code example with a fully functioning app, showing some different layouts and customizations, like removing the microphone icon, placing a floating search bar just like the Google Maps app, with a `CoordinatorLayout` and etc.

[2017-10-27 20:44] lapism commented on #329
Again. No. But I will add more to Readme soon.

[2017-10-27 20:45] #329 closed

[2017-10-27 21:01] feinstein commented on #329
Ok, thanks anyways :)

[2017-10-30 19:37] feinstein opened #330 "Wrong ripple effect on the hamburger icon"
The ripple effect on the hamburger icon should be rounded and not squared...I know this can be achieved using the `?android:attr/selectableItemBackgroundBorderless` (Lollipop+) as the background, but I didn't check the code to be sure what you are using.

Here's how's supposed to be (Google Maps):
![image](https://user-images.githubusercontent.com/8120472/32191583-bd7f7626-bd98-11e7-963a-314958430

[2017-10-30 23:21] Dahnark commented on #330
I think it can be solved using `selectableItemBackgroundBorderless` instead of using `selectableItemBackground`.

[2017-10-31 02:11] boswelja commented on #330
@Dahnark that would be correct, wanna open up a PR that fixes this?

[2017-10-31 09:26] lapism opened #331 "Update README + methods table + XML example"
kotlin
room

[2017-11-02 01:56] feinstein opened #332 "How to Set the SearchView Text?"
I have set the `SearchView` hint text with no issues, but I want to set the `SearchView` `Text` programmatically, and I can't find any methods or examples on how to accomplish this.

How can I set the `SearchView`'s Text?

[2017-11-02 02:04] feinstein commented on #52
Any updates on this? Can I help in anyway? :/

[2017-11-02 02:13] HusseinElFeky commented on #52
Try getting a reference to `SearchEditText` and simply call `setText` on it.

[2017-11-02 02:17] feinstein commented on #52
@HusseinElFeky how do I get this reference? By reflection you mean?

[2017-11-02 02:20] HusseinElFeky commented on #52
@feinstein No need to use reflection, try to look through the search view layout and locate the `SearchEditText` so that you can get a reference to it later on by calling `getChildAt`. That should do the work temporarily.

[2017-11-02 02:21] feinstein commented on #52
@HusseinElFeky Ok, I will try and post here any codes that work, thanks!

[2017-11-02 05:34] feinstein commented on #52
Ok, if anyone is interested in a hack to set the text, firt get a reference to the `SearchEditText`:

    SearchEditText searchEditText = (SearchEditText) ((ViewGroup)((ViewGroup)((ViewGroup)
                    mSearchView.getChildAt(1))
                               .getChildAt(0))
                               .getChildAt(0))
                               .getChildAt(1);

and then you can se

[2017-11-02 05:38] feinstein commented on #332
posted a temporary hack at #53

[2017-11-02 22:33] feinstein opened #333 "How to force the Hamburger Icon animation?"
I want the Hamburger icon to animate to an arrow when its clicked, to open the `NavigationDrawer`, just like the `toolbar` does in an `AppBar`.

Can I force this animation?

In a `toolbar` the hamburger icon and the `NavigationDrawer` are interlinked, the further you open the `NavigationDrawer`, the further the hamburger icon spins....is this possible to be achieved?

[2017-11-03 06:41] feinstein commented on #52
@HusseinElFeky Digging more into the code I found:

    public void setQuery(CharSequence query, boolean submit)
    public void setTextOnly(CharSequence text)

Why did you told me I needed to find a hack? Any problems with these methods?

[2017-11-03 08:34] HusseinElFeky commented on #52
Actually, I haven't used the library since 2 months, so I started to forget the unused methods in the library, but yeah. As you mentioned, those methods should do the job perfectly. The ironic part is that I was the one who improved the code of `setQuery` and I forgot about that. 😂

[2017-11-03 15:26] feinstein commented on #52
I see... Well, thanks anyways... This would have been easier with better documentation...

[2017-11-03 15:29] feinstein commented on #332
I found it:

[code]

[2017-11-03 15:29] #332 closed

[2017-11-03 15:29] Dahnark commented on #330
@boswelja I checked the source code and I think it is using borderless now...

[2017-11-03 15:30] feinstein commented on #331
If you have some spare time, documenting the library would help as well.

[2017-11-03 15:31] lapism commented on #331
Ok ;)

[2017-11-03 21:03] feinstein opened #334 "Shoudn't the `SearchEditText derive from `AutoCompleteTextView` instead?"
The `SearchEditText` derives from the `AppCompatEditText`, shoudln't it derive from the `AutoCompleteTextView`?

The `AutoCompleteTextView` derives from `EditText`. I am not sure what differences this will present, compared to `AppCompatEditText`.

[2017-11-03 21:28] boswelja commented on #330
@Dahnarkyou what happens if you set clipToPadding to false?

[2017-11-04 04:41] lapism commented on #334
No.

[2017-11-04 04:41] #334 closed

[2017-11-04 07:44] wmgylc commented on #33
same error with android 8.0

[2017-11-04 08:14] hienhtet opened #335 "gradle errror"
Error:(1, 0) Plugin with id 'com.android.library' not found.

[2017-11-04 18:17] lapism commented on #335
It must be a problem with Gradle. I will upload ASAP beta1 with stable Gradle 3.0.

[2017-11-07 07:46] feinstein opened #336 "Make the search results views editable"
After trying to use this library for a while I find it kinda limited.

I wanted to be able to provide my own `ReciclerView.Adapter` but I am limited on fitting my data to a `SearchItem`, and not my own `View`. For this reason I am reconsidering using the library unfortunately.

[2017-11-07 07:55] lapism commented on #336
I am open to every pull request ...

[2017-11-07 07:55] #336 closed

[2017-11-07 07:59] feinstein commented on #336
I am open to code something as well, but as far as I can see the code is too tight to this implementation and this will take too much effort to implement, the lack of documentation also slows me down a lot to understand what has to be changed and the effects will be.

I will try to figure something out and if I can't find any other choice I will try to submit some PR.

[2017-11-07 11:00] feinstein commented on #335
I have the same error here.

[2017-11-07 11:01] feinstein commented on #336
@lapism I will try to take a look at this but for now I can't because of  #335.

[2017-11-07 14:45] kukreja-vikramaditya commented on #328
Facing the same issue.
here is the error log -
http://paste.ubuntu.com/25911280/

gradle -> http://paste.ubuntu.com/25911285/

[2017-11-07 15:12] kukreja-vikramaditya commented on #328
Nevermind, I had another search view library.. after removing that this library works fine..Maybe some conflicts could have occurred

[2017-11-08 06:42] msecilmis opened #337 "Crash on historyD"

[2017-11-08 06:44] msecilmis commented on #337
java.lang.IllegalStateException: attempt to re-open an already-closed object: SQLiteDatabase: /data/user/0/com.birohcek.booker/databases/search_history_database.db
                                                                         at android.database.sqlite.SQLiteClosable.acquireReference(SQLiteClosable.java:55)
                                                                         at andr

[2017-11-08 06:46] msecilmis commented on #337
Also you should consider using room

https://developer.android.com/training/data-storage/room/index.html

[2017-11-10 17:03] lapism commented on #337
I know ROOM but you can create your own adapter with ROOM library.

[2017-11-20 06:44] jaksab opened #338 "v5.0.0-alpha7 error showing searchview under toolbar"
Hi. Thanks for this library!
Yesterday I was update library to 5.0.0-alpha7 and now searchview is showing under toolbar.
Main layout - CoordinatorLayout.
Searchview and margins type - menu item.
AppCompat version: 27.0.1.
I call searchview.open(true).

I try configure searchview in xml or code, with behaviour - no results. When I disable toolbar searchview is showing.

Screenshot https://www.dropb

[2017-11-20 09:43] jaksab commented on #338
I solved this problem as follows:

[code]

I think it happened in the new version of AppCompat, AppBar has a priority Z-coordinate

[2017-11-20 09:45] lapism commented on #338
Can you send me a pull request with these changes for SearchBehavior in library ?:)

[2017-11-20 09:45] lapism commented on #338
I am working on Beta1 which will be released probably next week.

[2017-11-20 23:47] Dahnark commented on #309
@lapism you will check this before upload beta1? About 150 crashes in the last 90 days.

And a little group of users had this problem but I think this is not a huge problem (9 crashes in last 90 days):

[code]

[2017-11-23 06:58] hienhtet commented on #335
Thank bro lapism

[2017-11-23 10:20] petersnoopy commented on #325
Any Updates?

[2017-11-23 19:11] lapism commented on #325
ASAP, sorry

[2017-11-28 18:33] filipedelimabrito opened #339 "InflateException"
I have the following exception when starting activity:

[code]

Looks like there is a problem when inflating an ImageView in the library.

[2017-11-29 06:42] Rokuki opened #340 "how to change Filter from CheckBox to radio？"
or a onFilterClickListener method is fine，thanks
sorry  for my poor English，pardon me

[2017-11-29 06:54] lapism commented on #340
It is not a possible option. Sorry

[2017-11-29 06:54] #340 closed

[2017-11-29 06:57] Rokuki commented on #340
okay，anyway，it's a awesome repositories ，thanks

[2017-12-06 12:18] freddygenicho commented on #327
Hey guys, who was able to fix the bug....

[2017-12-08 12:48] icoolguy1995 opened #342 "Suggestions expanding existing layout."
Hi, thanks for this beautiful library.

I am having some problems regarding placing ```xml```code in right place. for starters, suggestions and ```searchview``` are not floating above the toolbar instead they add themselves in existing layout. This means that ```searchview``` and suggestions appear below the toolbar, i.e they are expanding existing layout instead of floating over.

[code]

[2017-12-08 18:46] #342 closed

[2017-12-09 18:45] icoolguy1995 commented on #327
I fixed this bug by creating new DB classes(copied from existing source) and added a single line to create new instance of DB, I don't know the consequences of that but for now it's working fine.

Here goes the fixed code:

[code]

[code]

So here I created two classed copied from existing source. The only change I did is in ```HistroyTable``` where in ```open();``` function I am initiating new in

[2017-12-11 11:22] lapism commented on #330
It is fixed in my private repository now. It should used background instead of foreground attribute.

[2017-12-11 11:22] #330 closed

[2017-12-11 12:36] MohamedHamada12 commented on #267
any update , same problem?

[2017-12-11 14:51] lapism commented on #339
I will release new version until Christmas . But it looks like you should check your code and not my library.

[2017-12-11 14:51] #339 closed

[2017-12-11 14:55] filipedelimabrito commented on #339
This is happening when I tried to use SearchView...

[2017-12-11 16:01] #292 closed

[2017-12-11 16:02] #203 closed

[2017-12-11 16:05] #231 closed

[2017-12-11 16:10] #322 closed

[2017-12-11 16:13] lapism commented on #338
Fixed in private repository >> future Beta1

[2017-12-11 16:13] #338 closed

[2017-12-12 07:55] #283 closed

[2017-12-12 08:37] #244 closed

[2017-12-30 09:22] Devspm opened #343 "Couldn't Change the shadow background color to semi transparent"
Don't know how to change the shadow background color to semi-transparent ,only getting solid color

I wanted to change this

![capture](https://user-images.githubusercontent.com/34958091/34453045-f2897da0-ed70-11e7-9580-aa0e251bd225.PNG)

to
![image_2 1](https://user-images.githubusercontent.com/34958091/34453069-3af660bc-ed71-11e7-9432-4c0ba83b7434.png)

[2017-12-31 15:20] lapism commented on #343
There should be :
    public void setShadowColor(@ColorInt int color) {
        mViewShadow.setBackgroundColor(color);
    }

[2017-12-31 15:20] #343 closed

[2018-01-01 18:03] #335 closed

[2018-01-01 18:12] lapism commented on #333
In next version there will be a new method : animateHamburgerToArrow(true or false);

[2018-01-01 18:12] #333 closed

[2018-01-01 18:15] #262 closed

[2018-01-01 18:31] #311 closed

[2018-01-01 18:34] #282 closed

[2018-01-01 18:40] lapism opened #344 "bug"

[2018-01-01 18:46] EmmanuelMess commented on #344
This should be a tag.

[2018-01-01 18:48] lapism commented on #344
@EmmanuelMess Great Idea

[2018-01-01 21:33] vinz243 commented on #242
@caka2604 the true MVP!

[2018-01-02 10:51] #318 closed

[2018-01-02 13:19] MinaSamirCap commented on #188
I get the same error but I use this version of library
implementation 'com.lapism:searchview:5.0.0-alpha7'

I noticed that I get the crash after I enter the same word from keyboard but did not choose it from the list.,
after long search I can not understand why this happen .. but I solve the problem by check if the new word I get in the database or not .. if exist I will not add it if not I add it

[2018-01-03 14:59] #246 closed

[2018-01-03 15:02] #270 closed

[2018-01-04 08:11] #302 closed

[2018-01-04 08:13] #344 closed

[2018-01-07 04:38] MohamedHamada12 commented on #267
What I did to solve this problem as work around to put search view outside AppBarLayout

[2018-01-07 17:58] #315 closed

[2018-01-15 18:42] prajapatiravi257 commented on #337
Any hack to prevent this exception

[2018-01-17 15:07] MinaSamirCap opened #345 "Filter check boxes listener .."
Do you add any listeners for the check boxes of the filter in search view ..
I need to add two filters but if I check one it un check the  another ..

[2018-01-17 15:17] lapism commented on #345
I am not done yet with next release so I will try to fix it in that next release.

[2018-01-17 15:34] MinaSamirCap commented on #345
could I contribute with you??
to solve this issue .. or you will work on it ..

[2018-01-17 15:35] lapism commented on #345
No, because beta1 branch is totally different with many new stuff.

[2018-01-17 15:36] lapism commented on #345
And I will take a look on it.

[2018-01-17 15:38] MinaSamirCap commented on #345
okay thanks ..

[2018-01-18 04:07] jenlai1345 opened #346 "Searchview's back button not working - no way to close searchview"
Hi,

When I click on searchview, suggestion list expands, but if I want to close the suggestion list and to close searchview, I tried pressing
1. the back arrow on the left of search view
2. the hardware's back button

both didn't work and I'm stuck inside the search view.

I tried overriding onBackPressed() function, but it isn't invoked when back is pressed.

Is there any way that I can detect t

[2018-01-19 20:14] JonathanImperato opened #347 "Cannot Open SearchView"
You said:
`@Override
public boolean onOptionsItemSelected(MenuItem item) {
    switch (item.getItemId()) {
        case R.id.action_search: {
            mSearchView.open(true/false); // enable or disable animation
            return true;
        }
        default:
            return super.onOptionsItemSelected(item);
    }
}`

but mSearchView.open does not exist. Could you please tell me how can

[2018-01-21 10:05] MinaSamirCap commented on #345
I have another problem ..
after adding filters .. for example
`List<SearchFilter> filter = new ArrayList<>();
        filter.add(new SearchFilter("Global", false));
        searchView.setFilters(filter);`

if the user open the search view and press the check box to change its state ..
then I call
`searchView.getFiltersStates().get(0)`
it always return false .. and it does not return true if the us

[2018-01-21 10:56] lapism commented on #347
public void open(boolean animate)

[2018-01-21 11:03] JonathanImperato commented on #347
i know, but in the last version does not work to me...

[2018-01-27 00:06] EmmanuelMess opened #349 "Add tests to make sure everything works"
Using junit and robolectric can help address issues before release.

[2018-01-30 13:26] mladenbabic opened #352 "Add source code of simple example"
Please, add some simple example to test it before we implement it.

[2018-02-05 08:21] lapism commented on #352
Again, sorry but no. Library is part of my private project and I do not have time for anything else.

[2018-02-05 08:21] #352 closed

[2018-02-05 08:24] lapism commented on #349
OK, but only if I will have a time in future :)

[2018-02-05 15:11] EmmanuelMess commented on #352
Why not publish the entire project not just the lib module?

[2018-02-05 15:15] lapism commented on #352
For your apps you need only library not my PRIVATE project.

[2018-02-05 15:26] EmmanuelMess commented on #352
But it is easier for contributing (your private project shouldn't have more than an app to test and the lib).

[2018-02-05 19:21] lapism commented on #352
And it is easy to add this library as a module to your own project ...

[2018-02-05 21:13] EmmanuelMess commented on #352
It is easier to have it preadded

[2018-03-04 08:20] Aybek-kz opened #355 "SearchView not focusable on Android TV"
When you try to set focus on SearchView using the remote, nothing happens. The field is not allocated, for this you need to connect the mouse. Can this be fixed?

[2018-03-04 16:43] lapism commented on #355
yes, ASAP.

[2018-03-11 07:19] AkhilendraGadde opened #356 "Problem with adding dependency to gradle"
I've added the dependency as guided. But, facing the following error.
Also, tried to update with latest android support lib, but same issue.
Could anyone guide me into it?

Thanks

[2018-03-21 10:18] Devspm opened #358 "Soft keyboard not opening for Kitkat"
Hello,
Thanks for the wonderful library. I'm developing for 4.4 and above, My problem is, the soft keyboard opens except for kitkat when searchview is opened ,any idea ?

[2018-03-23 07:53] lapism commented on #358
I did not test it before API 21, so right now I do not know.

[2018-03-23 07:54] lapism commented on #358
Did you fix it by yourself? @Devspm

[2018-03-23 07:55] Devspm commented on #358
Actually, it works on real device.

[2018-03-23 07:56] Devspm commented on #358
But not on the emulator..

[2018-03-23 07:57] lapism commented on #358
Ok, I will take a look on it.

[2018-03-23 07:58] #356 closed

[2018-03-24 19:21] 1Kamal1 opened #359 "App Crash"
Hi @lapism
I would Like to Appreciate Your Work
So First Thing which i want from you to Please Make a brief Description about how to use it , as most of the Beginners can't easily Understand
and anyhow i manage and started Working with your library there is an Exception Occurs
Here is the Exception Details :

 E/UncaughtException: java.lang.RuntimeException: Unable to start activity ComponentInfo{

[2018-03-25 09:14] 1Kamal1 commented on #33
I am having the same issue in Android 7.1.1

Here is my Layout:

<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_pare

[2018-03-27 06:49] Devspm opened #360 "Can i use searchview in cardview ?"

[2018-03-29 20:03] lapism commented on #356
already out...

[2018-03-29 20:06] lapism commented on #359
Hi. Please try last version from Bintray. But it works only from API 21+.

[2018-03-29 20:06] #359 closed

[2018-03-29 20:08] lapism commented on #358
So I decided to leave everything below API 21. New version is already in JCenter.

[2018-03-29 20:08] #358 closed

[2018-03-29 20:19] #349 closed

[2018-03-29 20:20] #331 closed

[2018-03-29 20:20] #328 closed

[2018-03-29 20:21] #317 closed

[2018-03-29 20:21] #312 closed

[2018-03-29 20:21] #309 closed

[2018-03-29 20:22] #298 closed

[2018-03-29 20:22] #285 closed

[2018-03-29 20:22] #284 closed

[2018-03-29 20:22] #253 closed

[2018-03-29 20:22] #242 closed

[2018-03-29 20:22] #205 closed

[2018-03-29 20:22] #204 closed

[2018-03-29 20:22] #188 closed

[2018-03-29 20:22] #178 closed

[2018-03-29 21:22] EmmanuelMess commented on #349
Added?

[2018-03-29 22:42] EmmanuelMess commented on #349
But you closed?

[2018-04-02 06:35] Devspm opened #363 "How do i get the original index of the suggested item ?"

[2018-04-05 08:32] lapism commented on #363
onSearchItemClick(int POSITION, CharSequence title, CharSequence subtitle)

[2018-04-05 08:32] #363 closed

[2018-04-05 08:39] Devspm commented on #363
This position changes when query is changed, I needed to get the original index of suggested item, like the index of the item when added to the suggestionList.add(SearchItem);

[2018-04-05 08:42] lapism commented on #363
So then get it from your item list.

[2018-04-05 08:46] kozmabalazs opened #364 "Cannot resolve searchview."
Hi Martin.

After adding the dependency implementation 'com.lapism:searchview:27.1.0.0.0' to my gradle file, the searchview can not be found.

Only the classes SearchEditText and SearchBehavior are visible.

[2018-04-05 08:52] lapism commented on #364
I know about it. You can use it like com.lapism.widget.a OR b. This is temporary solution for a few hours. When I will be back home today I will release fixed version.

[2018-04-05 08:53] Devspm commented on #363
I needed to get the index of the selected item in the onSearchItem, so far I tried to use the position parameter but it may change, and next I mapped the title param with another list to get the index  but the title is not unique, how do you recommend that I can clear this issue? Thanks for the reply though..

[2018-04-06 06:33] sanu-soman opened #366 "Failed to resolve: com.lapism:searchview:27.1.0.0.1"
Hi Martin,
Gradle is unable to resolve the latest version com.lapism:searchview:27.1.0.0.1 while running a Gradle sync.
I've added the below line to my gradle dependency.

dependencies {
    implementation 'com.lapism:searchview:27.1.0.0.1'
}
Please let me know if I'm missing something.
Thanks.

[2018-04-06 06:44] lapism commented on #366
Today I am gonna release it. I had a small problem with releasing.

[2018-04-06 20:17] sanu-soman commented on #366
@lapism Thank you for the quick response. :)

[2018-04-06 21:00] lapism commented on #364
Weird. I will check it again tomorrow.

[2018-04-07 13:13] lapism commented on #366
You are welcome ;)

[2018-04-09 07:42] kozmabalazs commented on #364
I can confirm the issue is still present in release 27.1.0.0.1 .

[2018-04-09 07:44] lapism commented on #364
I know. It will be something with ProGuard I think.

[2018-04-09 17:16] JavierSegoviaCordoba opened #368 "5 alpha doesn't exist"
I was checking that you updated to a stable version, this new version uses the same method and structure that 5 alpha?

Should I have to fix something if I update?

I am having the problem too about I can't find searchview, adapter, etc.

[2018-04-09 18:57] lapism commented on #368
#364 please read this. I know about this issue.

[2018-04-10 16:40] JavierSegoviaCordoba commented on #368
Yeah, I read that yesterday, my question is more about migrating from 5 alpha to the new version.

[2018-04-10 17:13] JavierSegoviaCordoba opened #371 "Hamburger to arrow (back button) animation"
I migrated my app from 5 alpha to the new version, I think it is working perfectly except this animation. How can I force to show back button when searchview is open?

[2018-04-10 17:15] JavierSegoviaCordoba commented on #364
The last version fixes the problem for me

[2018-04-10 17:15] lapism commented on #371
There is setLogo with Arrow parameter

[2018-04-10 17:17] lapism commented on #364
27.1.1.0.0 ?

[2018-04-10 17:18] JavierSegoviaCordoba commented on #371
setLogoHamburgerToLogoArrowWithAnimation(boolean animation);
setLogoHamburgerToLogoArrowWithoutAnimation(boolean animation);

This is not redundant? I think boolean animation is unnecessary or one method should be deleted

[2018-04-10 17:24] lapism commented on #371
setAnimationDuration works for both -arrow and whole animation.

[2018-04-10 17:25] lapism commented on #364
Weird...not for me. I have still this issue with com.lapism.widget.a ...

[2018-04-10 17:26] lapism commented on #364
Sorry about that. I did not have time for complete Changelog :(

[2018-04-10 17:29] JavierSegoviaCordoba commented on #371
I can't see the animation with setLogo method too.

I am using it inside onOpen(), I should use it in other place?

[2018-04-10 17:37] JavierSegoviaCordoba commented on #371
I think setLogo hasn't animation for me, and setLogoHamburgerToLogoArrowWithAnimation(true); "is working". The problem is the animation is almost finished when the user starts to see the animation.

And is not an animation to use from arrow to hamburger.

[2018-04-10 17:39] JavierSegoviaCordoba commented on #364
Well, I fixed it in 5 minutes, really not difficult to migrate from the previous version :P

[2018-04-10 17:44] JavierSegoviaCordoba commented on #371
@Override
            public void onOpen() {
                final Handler handler = new Handler();
                handler.postDelayed(() -> {
                    searchView.setLogoHamburgerToLogoArrowWithAnimation(true);
                }, 400);
            }

General duration in searchView xml is 500. With this, I can see the animation.

[2018-04-10 17:54] JavierSegoviaCordoba commented on #364
@lapism is there any way to use it in API 21-? I know that the Android KitKat and JB have a lot of years but a lot of people still use those versions.

[https://i.imgur.com/Ex3Bixl.png](url)

[2018-04-10 18:39] lapism commented on #364
I am glad to hear that :).  Yes, people have them but most of them have newer devices. That was the reason why I moved whole project to API21+.

[2018-04-11 02:53] raymondctc commented on #368
Is it possible to keep version 5-alpha or at make a tag on that? Since we have extended some classes and overridden some functions in that version.

[2018-04-11 07:10] #371 closed

[2018-04-11 07:10] #364 closed

[2018-04-11 07:12] lapism commented on #368
Please extend new version. It is not difficult. It is going to take about 5 minutes, right @JavierSegoviaCordoba  ? :)

[2018-04-11 07:12] #368 closed

[2018-04-15 17:30] Shailevy opened #372 "How are are suggestions suppose to work ?"
I was unable to get the search suggestions to work so I examined the code. It seems the suggestions array is ignoref when deciding to to show the suggestions (Only the the search history db item count is taken into considation)
Am I missing something here ?

https://github.com/lapism/SearchBar-SearchView/blob/6d8a29bd66db1af24f3ebb19f36ff132a6aa423d/src/main/java/com/lapism/searchview/widget/Searc

[2018-04-29 06:49] jd-alexander opened #373 "Sample project."
Not sure how to use this. How about including a sample project to make the usage easier?

[2018-04-30 15:32] TheCount511 opened #374 "Nice look but not so helpful"

[2018-04-30 15:35] #374 closed

[2018-05-02 12:30] adam2603 opened #375 "Clear button not working"
When I enter text to searchview and then click the clear button only keyboard is hiding, but text is not clearing. I think it is because first removeFocus function is invoked and button is hiding, so onClick of clear button is not invoking.

[2018-05-03 23:40] lapism commented on #373
It is part of my project, sorry ;). I will update README.

[2018-05-03 23:40] #373 closed

[2018-05-04 15:30] 1and1get2 opened #376 "searchView.open() is protected and cannot be accessed"
using the example code from here [link](https://github.com/lapism/SearchBar-SearchView/blob/master/README_SearchView.md)

[code]

getting a error as in SearchView.java

[code]

update:
just found out, you can however, use `searchView.open(item)` instead, trying and will see what happenes

[2018-05-04 15:43] 1and1get2 commented on #376
documents are out dated, i used:

[code]
[code]

[2018-05-05 01:37] EmmanuelMess opened #377 "Use sensible versioning system"
I see in [bintray](https://bintray.com/lapism/maven/searchview/view#) that versions were:

3.6.3->3.7->3.8->4.0->27.1.1.0.0

I propose something like 5.1.1 instead of 27.1.1.0.0. BTW why the 27?

[2018-05-05 01:39] JavierSegoviaCordoba commented on #377
Versions

The first three numbers are always the same as the latest official Android Support Libraries. The last two numbers are for own updates.

[2018-05-05 01:43] EmmanuelMess commented on #377
Why would that be?

[2018-05-05 01:54] #376 closed

[2018-05-05 01:57] 1and1get2 opened #378 "searchView.close() doesn't close suggestion recyclerview"
it seems that if you call `searchView.close()` from within `OnSearchItemClickListener`
(directly or indirectly that is, such as calling `setQuery(title, true)` and call  `searchView.close()`  from within `onQueryTextSubmit`, `SearchView` doesn't call `removeFocus()` or at least not properly

what i mean by that is:

in my implementation
[code]

when clicking on an item in the suggestion list, the

[2018-05-05 02:45] 1and1get2 commented on #378
check out the full code:
[@my github](git@github.com:1and1get2/trademeapidemo.git) at commit f777dc6

[2018-05-13 12:55] lapism commented on #378
ASAP

[2018-05-13 12:56] lapism commented on #377
Why you care? I can do what I want to do ...

[2018-05-13 12:56] #377 closed

[2018-05-22 07:42] icoolguy1995 opened #379 "Suggestions not appearing until recreation"
Hi there, just updated to the latest version and I am facing an issue here:

Suppose, I searched something, the query in the previous version of the lib got stored and it was displayed the next time I searched from that activity, without recreating it. Now, suppose, SearchView is in MainActivity, I searched a query, and started a new activity, after doing my work in that new activity, I came back

[2018-05-23 08:10] lapism commented on #379
This looks like a bug in SearchAdapter. I will take a look on this issue ASAP.

[2018-05-23 08:11] lapism commented on #378
This looks like a bug in SearchAdapter. I will take a look on this issue ASAP.

[2018-05-23 13:58] lapism commented on #372
You need to add suggestions to the Adapter with method setSuggestions(). But it should work like Play Store implementation. That means if you do not have anything in History Database and EditText is empty then you have no visible items. If EditText is not empty then filtering (suggestions + DB) is going to start. But I have to check Play Store if something has changed.

https://github.com/lapism/S

[2018-05-23 13:59] lapism commented on #375
I will fix it ASAP. I had a vacation :),

[2018-06-02 10:40] lapism commented on #378
You can call something like this  for SearchAdapter and setOnQueryTextListener

    private void getData(CharSequence title) {
        SearchItem item = new SearchItem(this);
        item.setTitle(title);

        mHistoryDatabase.addItem(item);

        mSearchView.close();

        Intent intent = new Intent(BaseActivity.this, SearchActivity.class);
        startActivity(intent);
    }

It works

[2018-06-02 10:40] #378 closed

[2018-06-07 06:05] tcqq opened #380 "min sdk version support 17"
@luciofm Can make min sdk version support 17?

[2018-06-07 07:10] lapism commented on #380
No because It needs a lot of work. But you can fork it and change it by yourself.

[2018-06-07 07:10] #380 closed

[2018-06-12 11:58] iAmMONK opened #381 "Suggestions expand the Toolbar"
I'm using a custom adapter for suggestions. When the suggestions reveal they expand the Toolbar, making other layout views move down. Shouldn't they draw above all other views?
Also is there a way to make the recyclerview Limited to 5 items and the rest to be scrollable? Like setting height for it?

[2018-06-12 12:36] iAmMONK commented on #381
Ok, I was able to set it's height by doing:
[code]

but I still can't scroll and it expands the toolbar.

[2018-06-12 12:56] iAmMONK commented on #381
Ok, seems like this SearchView shouldn't be declared inside AppBarLayout.(Some other searchviews did so) That was the problem, moved it to the main container and now everything works.

[2018-06-13 03:38] rendecano opened #382 "History only returns 2 items."
Hi,

First of all, thanks for this wonderful library.

Can we make the history count dynamic?

Thanks

[2018-06-14 07:57] lapism commented on #382
Sure. Why not. I will add it in next release together with AndroidX support.

[2018-06-25 05:20] aysnort opened #383 "Toolbar changing colors"
When focus is put on the searchview or orientation changes the toolbar changes colors from the color primary and stays  a new color.

[2018-06-28 10:46] poojadeshpande91 opened #384 "Flickering when there are no suggestions or history present - searchview:4.0"
Hi,

Kindly [check this](https://postimg.cc/image/sldwqolct/) issue.

As you can see in the GIF image above when there are no suggestions or any history present animation of list is not happening smoothly or when I type any query and clear it I can see flickering/blinks.

Im currently on `com.lapism:searchview:4.0` version and have implemented as given in samples, how can I fix this?

[2018-06-28 13:47] lapism commented on #384
Probably you will have to change to last version here in README. And you will see :+1:

[2018-06-28 13:47] #384 closed

[2018-06-28 13:54] lapism commented on #383
Honestly I have no idea about what you are talking about.

[2018-06-28 13:54] #383 closed

[2018-06-29 08:47] poojadeshpande91 commented on #384
But latest version requires minSdkVersion version to be 21 while I need 16 in my project, is there any way to fix it in the version I am using ?

Thank you

[2018-07-04 08:10] ironelder opened #385 "Need the Function to force focus."
I need access mSearchEditText.
Because I have to use the Focus function automatically when I enter the search screen.

Now, I using mSearchView.getChild(0).requestFocusFromTouch()

[2018-07-04 12:13] abdurahman-ctis opened #386 "Need for LatLng of SearchItem"
SearchItem class may include LatLng of a place as well, so we can use it for our purposes. I would be happy if you add LatLng variable in SearchItem class, with setter and getter.

[2018-07-04 14:00] lapism commented on #386
And why ? You can always fork the project. And I cannot add everything for every project of every developer.

[2018-07-04 14:00] #386 closed

[2018-07-10 17:22] JavierSegoviaCordoba opened #388 "selectableItemBackground not working"
It is not working for me when I press on an item.

Maybe the problem is caused because the search item xml doesn't have clickable/focusable=true

[2018-07-23 11:49] naguchennai opened #389 "mini sdk"
mini skd 21? really ? not possible add to my app most of the app no use

[2018-07-23 11:55] lapism commented on #389
Fork it if you want. We have projects from api19 or 21 so why not ...

[2018-07-23 11:55] #389 closed

[2018-07-23 12:31] naguchennai commented on #389
U tried? ur project lot of error with that.. its not rk with yout project

[2018-07-26 01:17] anargu commented on #112
Just an observation.

I was stuck in how to change the voice icon and/or menu icon. I couldn't figure out why this line

        search_bar.setMicIcon(R.drawable.ic_search)

weren't working as expected. Then I figured out why. I put the `setIcon(...` before the `setOnClickListener(...`.

and what setOnClickListener does is this:

[code]

It's setting again the icon for Voice Icon. and probably thi

[2018-07-31 12:49] jpooleycodes commented on #379
I believe I am experiencing the same issue. On the latest version Search suggestions are not appearing, if I use Android Instant run when its recreated they do appear. Cant seem to get them to appear otherwise.

[2018-08-30 07:07] andiakashd commented on #346
Hey, what is solution? @lapism

[2018-09-09 11:15] Anurag26 opened #391 "Namespace issue"
The attributes for the XML are throwing namespace issues.

[2018-09-18 15:05] callingmedic911 opened #392 "How to show hint when SearchBar is not in focus?"
I've looked into docs and source but not able to find.
Any lead is appreciated.

Thanks.

[2018-09-19 06:10] vijayant123 commented on #392
+1

[2018-09-19 20:09] Jars-of-jam-Scheduler opened #393 "Infinite UI loop: SearchView's text query bar click always and systematically triggered"
Partially solved by adding:

[code]

It allows me to make the layout have the focus instead of the lapism `SearchView` when the fragment starts.

See https://github.com/lapism/SearchBar-SearchView/issues/394 for the remaining problem.

---

Hello!

I'm using your `SearchView` widget to display the same search widget than Google Play (i.e.: a search bar containing a hamburger-arrow menu). This `Sea

[2018-09-22 15:37] Jars-of-jam-Scheduler opened #394 "Infinite UI loop: Android lapism SearchView: How to handle click on back press?"
Hi all,

I'm using this [lapism `SearchView`][1] widget. When I click on Android back arrow or on the lapism `SearchView` back arrow, it hides the keyboard and looses the focus only during 1 second: just after, it re-has focus and the keyboard is  re-opened. Thus it's an infinite loop (if the user re-clicks on the arrow).

I already wrote this on my fragment:

    @Override
    public void onResum

[2018-10-11 17:02] lagoren commented on #313
hi

im geting an error:

Failed to resolve: com.lapism:searchview:5.0.0-alpha6

this is my build.gradle:

apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    buildToolsVersion "26.0.2"
    defaultConfig {
        applicationId "com.example.galgoren.finalproject"
        minSdkVersion 16
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"

[2018-10-12 06:42] lapism commented on #313
@lagoren  implementation 'com.lapism:searchview:27.1.1.0.0'

[2018-12-13 15:28] JavierSegoviaCordoba opened #395 "layout_behaviour is not working"
I am moving my app from scratch to Kotlin and I am implementing SearchView, the problem the SearchView is not fixed at top, it scrolls with the collapsing toolbar so it disappears.

I am using AndroidX too, maybe stable version of SearchView doesn't work with it?

![awd1gq0](https://user-images.githubusercontent.com/7463564/49953778-296e2500-feff-11e8-9f67-f1e7dab52074.png)

SearchView should stay

[2019-01-10 00:23] onirtuen opened #396 "How to show menu when ≡ is tapped"
Hi.

How do I actually show a menu with menu items when the user taps ≡?

Thanks!

[2019-02-18 18:05] ovaqlab opened #397 "How to use this plugin in Kotlin. Could you please give the usage instructions"
I couldn't find the usage of this plugin. Could you please give me the usage of the plugin in Kotlin. I'm trying to develop a UI like Google Map.

[2019-04-07 20:07] #112 closed

[2019-04-28 08:25] chnouman opened #398 "setOnOpenCloseListener not working properly"
I'm using this callback to change the state of my other views. Here is my code:
[code]
but my logcat shows:
[code]

All i'm doing in searchClosed and searchOpened method is changing the visibility of other views.

[2019-04-28 08:36] chnouman commented on #319
@shenjingfs  how you have resolved this.

[2019-05-12 04:47] nickming opened #399 "Background shadow show incorrectly in SearchView when use Fragment"
When I use the navigation component, I found that if I navigate to another fragment and then pop back, the shadow background will always show, but no search state, that's not I want. I found that when pop back fragment, it will call `onRestoreInstanceState`, and `mShadow` always be true and nowhere to change it, so will show forever and  I think it is a bug.
I think shadow state should bind with s

[2019-06-12 07:12] chnouman commented on #398
@lapism you didn't resolve this.

[2019-06-12 07:13] lapism commented on #398
I already did in my private repo.

[2019-06-12 07:50] chnouman commented on #398
@lapism Can I use it in the latest version of the repo?

[2019-06-12 08:01] lapism commented on #398
Not now. But I will update the library to new version with AndroidX ASAP.

[2019-06-12 08:15] #393 closed

[2019-07-09 12:01] artsemionov opened #400 "onLogoClick() does not fire when SearchView is "opened""
When I open search I change the logo to the back arrow icon and want to be able to click it before search perform to cancel search, hide keyboard, change icon and clear the text but the listener does not fire. Instead search is losing focus, keyboard is closing and I need to click back arrow again for listener to work.

[2019-07-09 12:04] artsemionov opened #401 "Logo icon is hidden forever after setLogoIcon(null)"
If I want to hide the logo icon and call setLogoIcon(null) then it is hidden forever because of the setVisibility(View.GONE) inside the setLogoIcon function.

[2019-07-28 20:26] lapism commented on #401
It will be fixed.

[2019-07-28 20:26] #401 closed

[2019-08-11 03:31] pisxid opened #402 "Missing setOnClearClickListener"
I'm trying to handle the "clear" button click event, but I can't find any method to do it.

[2019-09-02 08:33] lapism opened #403 "NEW VERSION WILL BE OUT IN A FEW DAYS"

[2019-09-27 03:51] ibadurrahmantalha opened #404 "Issue in an Add the dependency to gradle file:"
i try below but not any of them is working:
implementation 'com.lapism.search:search: ASAP'
implementation 'com.lapism.search:search:1.0.0-alpha05'
implementation 'com.lapism.search:search:5.0.0-alpha05'

and many other but it not working. Please help

[2019-09-27 05:08] lapism commented on #404
Yes, because I had to you close the old repository. But new dependency will be out asap. In the meantime you have to fork this repository.

[2019-09-27 05:08] #404 closed

[2019-10-06 18:08] patrickpissurno opened #405 "Cannot add to gradle"
Hey, thanks for the library.

Could you please provide clearer instructions on how to add to gradle? With the given instructions it fails to find it.

This is my project-level gradle file:
[code]

And this is what I've added to my app-level gradle file:

[code]

Looking forward to try and use this library in an upcoming project of mine.

[2019-10-06 18:15] lapism commented on #405
Hi. It is not released on Bintray yet because I found some bugs. ASAP is shortcut for As soon as possible :-).

[2019-10-30 12:49] chanicheetah commented on #405
When do you think this will be released?

[2019-11-12 11:37] lapism commented on #405
Probably until Christmas

[2019-12-18 23:25] nksaroj commented on #405
Eagerly waiting for it :)

[2019-12-23 09:16] HaitianZhuu commented on #405
waiting

[2020-01-14 21:57] chjaeggi commented on #405
also a wait from here :)

[2020-01-15 20:37] lapism commented on #405
This should work :)

dependencies {
    implementation 'com.lapism:search:1.0.0-alpha10'
}

[2020-01-16 18:32] lapism commented on #405
I am waiting for approval from jCenter.

dependencies {
implementation 'com.lapism:search:1.0.0'
}

[2020-01-17 08:36] lapism commented on #405
Approved and released - 1.0.0

[2020-01-17 08:36] #405 closed

[2020-02-14 20:49] ydhnwb opened #406 "The searchview is always focused on some devices"
I'm using the 1.0.0 version, all running well but on not on some device (ex: Asus Zenfone 3 with Android O).

In Zenfone 3, the searchview always focused even i called clearfocus. Here are the code

![gambar](https://user-images.githubusercontent.com/26734262/74565774-94ecd000-4fa4-11ea-8687-2d47f4e207b2.png)

and here is the bug on zenfone 3

![WhatsApp-Video-2020-02-15-at-329](https://user-image

[2020-02-27 08:28] lapism commented on #406
Have you found anything ? Because I do not have these devices.

[2020-02-27 09:45] ydhnwb commented on #406
I just realized that this problem is exists when the phone os is below Nougat (Android 7.0). I didnt find a way to fix it

[2020-02-28 09:55] gzodx commented on #406
i use andrioid 8.0 and this still happends it always on focus

[2020-02-28 10:49] lapism commented on #406
Ok. I will try it ASAP.

[2020-02-28 11:13] lapism commented on #406
Try add this to your activity declaration in Manifest             android:windowSoftInputMode="adjustPan|adjustNothing" . Because I tried it in my app and it works on Oreo correctly.

[2020-03-01 09:49] ydhnwb commented on #406
Will try it and let you know once i get home

[2020-03-02 10:14] ydhnwb commented on #406
![Screenshot from 2020-03-02 17-09-51](https://user-images.githubusercontent.com/26734262/75666813-146ae680-5ca9-11ea-8936-6e0f759667cb.png)

The problem still exists event i added  android:windowSoftInputMode="adjustPan|adjustNothing" on Manifests (tested on Android 7 Emulator)

[2020-04-07 17:14] lapism opened #408 "bintray version 2.0"
Plugin bug probably

[2020-04-17 17:34] Faltenreich commented on #408
Did you get in contact with the Bintray support? They are very helpful and respond relatively quick.

[2020-04-20 17:27] Abdulrahman-N commented on #408
Any updates? I'm getting an error when trying to add the dependancy.

[2020-04-25 15:40] rahulshah456 opened #409 "ERROR: Failed to resolve: com.lapism:search:2.0.0"
while adding dependency version 1.0.0 it works but not when using 2.0.0

[2020-04-27 07:37] #409 closed

[2020-04-29 17:55] lapism commented on #408
It should work now...

[2020-04-29 17:59] lapism commented on #408
implementation 'com.lapism:search:2.0.0@aar'

[2020-04-29 18:39] #406 closed

[2020-04-30 07:43] #408 closed

[2020-06-01 17:20] fantasticrahulrai opened #410 "Crashes on OnCreate"
Wasted few hours trying to add this library, crashes everytime, even when following all the instruction. Atleast include a sample project

[2020-06-01 17:31] lapism commented on #410
- If there is a bug somewhere I need stacktrace from Android Studio
- README here should be enough
- I can't because the library is a submodule from my project. Maybe I will do another Sample repository in future.

[2020-06-01 17:35] lapism commented on #410
Btw. I has been done with Java & Kotlin 1.8. Maybe that is the source of your problems.

[2020-06-01 17:39] fantasticrahulrai commented on #410
Hi dear
Thanks a lot for such a quick reply, I badly need this library in my project. I am sending the stacktrace, plz help

[2020-06-01 17:44] fantasticrahulrai commented on #410
java.lang.RuntimeException: Unable to start activity ComponentInfo{app.cupcake.demo.dev/app.cupcake.demo.activites.ExploreActivity}: android.view.InflateException: Binary XML file line #42: Binary XML file line #42: Error inflating class com.lapism.search.widget.MaterialSearchView
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3123)
        at android.app.ActivityT

[2020-06-01 17:45] fantasticrahulrai commented on #410
java.lang.RuntimeException: Unable to start activity ComponentInfo{app.cupcake.demo.dev/app.cupcake.demo.activites.ExploreActivity}: android.view.InflateException: Binary XML file line #42: Binary XML file line #42: Error inflating class com.lapism.search.widget.MaterialSearchView
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3123)
        at android.app.ActivityT

[2020-06-01 17:46] fantasticrahulrai commented on #410
Hi dear I have added the stacktrace, let me know if you need further specification about my project.

[2020-06-01 17:48] lapism commented on #410
Your MainActivity layout is not a CoordinatorLayout right ? This can be a problem because MaterialSearchView implements CoordinatorLayout.Behavior.

[2020-06-01 17:51] fantasticrahulrai commented on #410
<androidx.coordinatorlayout.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".activites.ExploreActivity">

    <com.google.android.material.appbar.AppBarLayou

[2020-06-01 17:52] fantasticrahulrai commented on #410
Here it is dear my activity is coordinate layout only...can you share the sceenshot or code snipets of your main module of which the lib is a part

[2020-06-01 17:58] lapism commented on #410
Ok. That is a bug probably. Give me a minute and I am going to release fixed version. I hope it will be fixed. We will see.

[2020-06-01 17:59] fantasticrahulrai commented on #410
Yes dear, great support form you. Thanks a lot

[2020-06-01 18:06] lapism commented on #410
2.1.3 is out. But it has been build with AS 4.1. I hope I will not be a problem.

[2020-06-01 18:07] fantasticrahulrai commented on #410
No dear thats not a problem, I will test it and will let you know the result.

[2020-06-01 19:17] lapism commented on #410
And I found another bug. You must add  android:stateListAnimator="@null"  to AppBarLayout for now.

[2020-06-02 16:55] #410 closed

[2020-07-10 21:21] pravingaikwad07 opened #411 "Thanks !!"
Thanks a ton. Library is very useful.

[2020-07-10 21:55] #411 closed

[2020-07-10 21:55] pravingaikwad07 commented on #411
Worked.

[2020-07-12 10:38] lapism commented on #411
You are welcome 😊

[2020-07-15 07:55] pravingaikwad07 opened #412 "Sample example project"
It would be helpful if you can add some sample example on the repository. I am trying to achieve similar search behavior as that of Gmail Android app. Also, how I can achieve whatsapp like search behavior using your library ?

[2020-07-16 10:04] lapism commented on #412
Sorry but I think README is enough.

That is not possible.

[2020-07-16 10:04] #412 closed

[2020-07-25 21:40] stytooldex opened #413 "1区最强上单？国服最强花木兰，关羽？赤焰魔王？隐姓埋名？"
1区最强上单？国服最强花木兰，关羽？赤焰魔王？隐姓埋名？

[2020-08-04 19:11] pravingaikwad07 opened #414 "How to change Searchview menu icon ?"
I want to change the  menuicon when user applies filter on the list.
Eg. By default I set icon1 and when user applies some filter to my list then I want to update the icon to icon2.

currently I am updating the menu icon like this (not working) :
`materialSearchView.setMenuIconImageResource(R.drawable.icon1);`

[2020-08-04 21:41] codejunk1e opened #415 "Pressing back on the phone closes app"
When the search Widget is selected and active, pressing back doesn't make the widget close and lose focus, instead it closes the app. Tried adding this but it doesn't seem to work.
[code]

[2020-08-05 04:32] lapism commented on #415
Add setClearOnBackPressed with true value

[2020-08-06 13:17] codejunk1e commented on #415
setClearFocusOnBackPressed(true) worked. Was about to ask if there was a way to add a progress bar but I cannot see it in the search_view.xml. Thanks for the great library!

[2020-08-06 13:41] lapism commented on #415
I am not planning to add a progressbar in near future , sorry :-). And you are welcome.

[2020-08-06 13:41] #415 closed

[2020-08-10 07:40] mousavi007 opened #416 "when clone library and load it, android studio give error"
when clone repository my android studio give following error:

Plugin [id: 'com.android.library'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (plugin dependency must include a version number for this source)

[2020-08-10 08:23] lapism commented on #416
That is because I have been using Android Studio 4.1. You have to change build.gradle for Android Studio 4.0.

[2020-08-10 08:23] #416 closed

[2020-08-10 08:24] lapism commented on #414
I will check it for next version.

[2020-10-27 21:34] pravingaikwad07 opened #418 "How to show "No results found" incase of zero result"
I want to show "No result found" msg in the view when there are no results for the given query. How I can do this ?
I have added one Textview with similar msg and when there are no result I am just setting that Textiew visibility to VISIBLE but its not showing because of the materialsearch is not collapsed yet.

[2020-10-27 21:47] pravingaikwad07 commented on #418
Currently managing like this :
[code]

[2020-10-29 19:13] #418 closed

[2020-12-26 16:37] pavan555 opened #419 "how can we add scroll change listener"
how can I add scroll change listener if I want to load more items when scroll to half of the content, there is no available method

[2021-03-03 17:42] #419 closed

[2021-04-21 23:30] pafase opened #420 "Plugin [id: 'com.android.library'] was not found in any of the following sources"
Gives an error syncing gradle

[2021-04-22 07:15] lapism commented on #420
And why do you think it happened? jCenter is going to shutdown in June.

Martin

On Thu, Apr 22, 2021, 01:31 Pau ***@***.***> wrote:

[2021-05-21 13:14] Sharkaboi commented on #420
Are there no plans to move to `mavenCentral`?

[2021-05-21 13:16] lapism commented on #420
ASAP. Right now I do not have time for this.

[2021-09-15 13:49] #420 closed

[2021-09-22 21:54] tamuseanmiller opened #421 "Transparent Background"
I'm struggling to get the search bar by itself without any background. Is there any way to get the SearchView with an App Bar with a transparent background?
I've attached below what I was able to get to work.
![Screenshot_20210922-165344](https://user-images.githubusercontent.com/42820988/134427231-c5323598-d42c-4472-9279-822045bb30ae.png)

[2021-09-23 05:37] lapism commented on #421
Hi,

there is very a simple solution, do not use app:behavior and use transparent background for your appbar class.

[2021-09-23 05:38] lapism commented on #421
Or...write and extend your own CoordinatorLayot.Behavior class or AppBar.Behavior class.

[2021-09-23 15:07] tamuseanmiller commented on #421
Was able to get it to work, thanks!

[2021-09-23 15:07] #421 closed

[2021-10-04 01:27] tamuseanmiller opened #422 "Add Easier Support for a Microphone Icon and/or Settings Icon"
In the last search, you implemented an easily workable function for dealing with text-to-speech buttons. It would be handy to have the two shown in the demo image on the README to be used the same way.

[2021-10-04 06:49] lapism commented on #422
You have to use classic way with menu.xml file and onCreateOptionsMenu function because now it is an extension of Toolbar. So whole implementation must be on your own.

[2021-10-04 11:39] #422 closed

[2021-11-03 05:08] zhbzhbzhbz opened #425 "the newest version on maven is 1.0.0 not 1.1.0"
https://search.maven.org/artifact/io.github.lapism/search/1.0.0/aar

[2021-11-03 14:41] lapism commented on #425
wait please. It is already released.

[2021-11-03 14:41] #425 closed

[2022-01-02 18:22] doteq opened #427 "How to make search bar rounded"
In version 1.2.0 search bar is slightly rounded and there is new property to customize it. However, when i tried to set `search_radius` to a different value, for example 1dp, app is crashing and I'm getting an error inflating class caused by: `java.lang.NumberFormatException: For input string: "1.0dip"`. How to set full bar radius, like in previous versions?

[2022-01-02 19:32] lapism commented on #427
Hi, sorry for that. It is a bug. I am going to release fixed version 1.2.1 in next hour.

[2022-01-03 19:46] #427 closed

[2022-05-17 06:33] xuexixuexijpg opened #429 "Here are some compatibility suggestions that can be ignored"
Hello, this is a very good library, I personally feel at least better than the native SearchView haha, because the minimum minSdkVersion of the project I practice is 21, but the library supports 26 a bit high, here are some forward compatibility tips:
**1**. The `onInitializeAccessibilityNodeInfo `method in the `MaterialSearchToolbar `class is written like this, at least it can support build versi

[2022-09-22 11:29] lapism commented on #429
So for delay, I am going to fix it ASAP.

[2022-09-22 11:29] esirong commented on #429
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-09-23 17:56] hungntv opened #431 "Upload your sample code pleasssssseeeeeeee!"
It's hard to integrate your repo into a project

Crash on Android API 31, it doesn't understand `?colorOnSurfaceVariant` https://github.com/lapism/search/blob/a6c93b1a8eff2f896d823bae5d5643964cb4a3ba/src/main/res/values/styles.xml#L7

I have to do it myself
[code]
Input-Text doesn't appear
Can not dismiss the keyboard whenever it appeared!
![image](https://user-images.githubusercontent.com/4994141